<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SYM</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../css/jquery.fullPage.css" />
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap-select.min.css"/>
        <link rel="stylesheet" type="text/css" href="../../css/animations.css" />
        <link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/uikit.min.css" />
        <!--<link rel="stylesheet" type="text/css" href="../../css/videobackground.css" />-->
        <link rel="stylesheet" type="text/css" href="../../css/style.css" />
        <link rel="stylesheet" type="text/css" href="../../css/format.css" />
        <link rel="stylesheet" type="text/css" href="../../css/custom.css" />
        <link rel="stylesheet" type="text/css" href="../../css/flexslider.css" />
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap-datetimepicker.css" />

    </head>
    <body>
        <div class="container-fluid">
            <div class="fix_hd">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><img src="../../images/mainlogo.png"/></a>
                    </div>
                    <a id="nav-full-toggle" class="nav-hamburger" href="#">
                        <span></span>
                    </a>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul id="menu" class="nav navbar-nav">
                            <li class="active" data-menuanchor="firstPage">                                
                                <a href="#firstPage">
                                    <img src="../../images/menu_icon_size/calculator.png" /><br>
                                    <span>Quote</span>
                                </a>
                            </li>
                            <li data-menuanchor="secondPage"><a href="#secondPage">
                                    <img src="../../images/menu_icon_size/faq_icon.png" /><br>
                                    <span>FAQ</span>
                                </a></li>
                            <li data-menuanchor="3rdPage"><a href="#3rdPage">
                                    <img src="../../images/menu_icon_size/video_icon.png" /><br>
                                    <span>MEDIA</span>
                                </a></li>
                            <li data-menuanchor="4thPage"><a href="#4thPage">
                                    <img src="../../images/menu_icon_size/users.png" /><br>
                                    <span>USERS</span>
                                </a></li>
                            <li data-menuanchor="5thPage"><a href="#5thPage">
                                    <img src="../../images/menu_icon_size/fantastic_sign.png" /><br>
                                    <span>Value</span>
                                </a></li>
                            <li data-menuanchor="6thPage"><a href="#6thPage">
                                    <img src="../../images/menu_icon_size/SYM.png" /><br>
                                    <span>CONTACT</span>
                                </a></li>
                            <li data-menuanchor=""><a href="#">
                                    <img src="../../images/menu_icon_size/SYM.png" /><br>
                                    <span>LOGIN</span>
                                </a></li>
                        </ul>                        
                    </div>

                </nav>
            </div>
            <nav id="nav-full" class="layer-change" style="display: none;">
                <ul style="margin-top: 90px;">
                    <li class="mobile-tablet-true" data-menuanchor="firstPage">                                
                        <a href="#firstPage">
                            <img src="../../images/menu_icon_size/calculator.png" /><br>
                            <span>Quote</span>
                        </a>
                    </li>
                    <li class="mobile-tablet-true" data-menuanchor="secondPage"><img src="../../images/menu_icon_size/faq_icon.png" /><br>
                        <span>FAQ</span></li>
                    <li class="mobile-tablet-true" data-menuanchor="3rdPage"><a href="#3rdPage"><img src="../../images/menu_icon_size/video_icon.png" /><br>
                            <span>MEDIA</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="4thPage"><a href="#4thPage"><img src="../../images/menu_icon_size/users.png" /><br>
                            <span>USERS</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="5thPage"><a href="#5thPage"><img src="../../images/menu_icon_size/fantastic_sign.png" /><br>
                            <span>Value</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="6thPage"><a href="#6thPage"><img src="../../images/menu_icon_size/SYM.png" /><br>
                            <span>CONTACT</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="6thPage"><a href="#6thPage"><img src="../../images/menu_icon_size/SYM.png" /><br>
                            <span>LOGIN</span></a></li>
                </ul>
            </nav>
            <div id="section4" class="brandPage">
                <div class="container topMainPadding">
            
                    <h1 class="repeatl4 animated fadeInLeft block go">
                        Brands We've Worked For
                    </h1>
                    <h4 class="repeatl5 animated fadeInRight block go">Save Your Monkey</h4>
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <ul id="brand-list-about" class="row brands-list repeat5 animated growIn go">
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_anchorfree1.png" alt="AnchorFree">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_federated_media.png" alt="Federated Media">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_fastweb.png" alt="Fastweb">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_swatch1.png" alt="Swatch">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_vodafone1.png" alt="Vodafone">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_cisco.png" alt="Cisco">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_theneeds1.png" alt="The Needs">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_parmalat.png" alt="Parmalat">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_fineco1.png" alt="Fineco">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_intesa_sanpaolo1.png" alt="Intesa Sanpaolo">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_valentino.png" alt="Valentino">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_delonghi.png" alt="DeLonghi">
                                    </li> 
                                </ul>
                            </li>
                            <li>
                                <ul id="brand-list-about" class="row brands-list repeat5 animated growIn go">
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_anchorfree1.png" alt="AnchorFree">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_federated_media.png" alt="Federated Media">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_fastweb.png" alt="Fastweb">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_swatch1.png" alt="Swatch">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_vodafone1.png" alt="Vodafone">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_cisco.png" alt="Cisco">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_theneeds1.png" alt="The Needs">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_parmalat.png" alt="Parmalat">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_fineco1.png" alt="Fineco">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_intesa_sanpaolo1.png" alt="Intesa Sanpaolo">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_valentino.png" alt="Valentino">
                                    </li> 
                                    <li class="col-md-3 col-sm-3 col-xs-6">
                                        <img width="160" src="../../images/logos/logo_delonghi.png" alt="DeLonghi">
                                    </li> 
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="shipping_footer">                
                <div class="section animatedParent">
                    <div class="container-fluid">
                        <div class="site-footer ">
                            <div class="grid-row">
                                <header class="col-md-3">
                                    <div class="site-footer__logo">
                                        <img style='' src="../../images/footer_monkey.png"/>
                                    </div>
                                </header>


                                <div class="col-md-2">
                                    <h3 class="site-footer__block-title">Our Work</h3>

                                    <nav class="nav nav--secondary">
                                        <ul class="nav__items">
                                            <li class="nav__item"><a href="#">Motion Array</a></li>
                                            <li class="nav__item"><a href="#">Herself</a></li>
                                            <li class="nav__item"><a href="#">Five Simple Steps</a></li>
                                            <li class="nav__item"><a href="#">Tribal</a></li>
                                            <li class="nav__item"><a href="#">oozled</a></li>
                                            <li class="nav__item"><a href="#">PH Museum</a></li>
                                            <li class="nav__item"><a href="#">Charity Bank</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-md-2 add_cmn">
                                    <h3 class="site-footer__block-title">Our Details</h3>
                                    <p class="site-footer__contact-details">

                                        <span id="sproutencodeemail-5763af77a11b4-1"><a href="mailto:info@saveyourmonkey.com
                                                                                        ">info@saveyourmonkey.com
                                            </a></span>
                                        +94 (011) 438 6230
                                    </p>
                                    <p style="margin-bottom: 10px;">Level 1, Liberty Arcade
Colombo 03, Sri Lanka.</p>
                                    <p><img src="../../images/Section_one_inner_tab_icon/address.png" /> We're based in UK.</p>
                                    <ul class="social">
                                        <li class="social__item"><a title="Follow on Twitter" target="_blank" href="#"><img src="../../images/Section_one_inner_tab_icon/twitter.png" /></a></li>
                                        <li class="social__item"><a title="Like on Facebook" target="_blank" href="#"><img src="../../images/Section_one_inner_tab_icon/facebook.png" /></a></li>
                                        <li class="social__item"><a title="Design snippets on Dribbble" target="_blank" href="#"><img src="../../images/Section_one_inner_tab_icon/pinterest.png" /></a></li>
                                        <li class="social__item"><a title="Photos on Instagram" target="_blank" href="#"><img src="../../images/Section_one_inner_tab_icon/instagram.png" /></a></li>
                                    </ul>                
                                </div>
                                <div class="col-md-4" id='contactid'>
                                    <form method="post">
                                        <ul>
                                            <li>
                                                <input type="text" id="nameH" name="nameH" class="required" placeholder="Name">
                                            </li><li>
                                                <input type="text" id="emailH" name="emailH" class="required" placeholder="Email">
                                            </li><li>
                                                <input type="text" id="website" name="website" placeholder="Website">
                                            </li><li>
                                                <input type="text" id="country" name="country" placeholder="Country/Location">
                                            </li><li>
                                                <textarea id="messageH" name="messageH" class="required" placeholder="Describe your project"></textarea>
                                            </li><li>
                                                <input type="button" style="cursor: pointer;" class="btn btn-blue big animated" onclick="submitProject()" value="Submit" id="projectSubmitButton">
                                            </li></ul>
                                    </form>
                                    <!--<a href="#" class="js-hidden">Google +</a>-->
                                </div>
                            </div>
                        </div>
                        <div class="site-footer__company-info">
                            <p>&copy; Copyright 2015 - 2016 All Right Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../../js/jquery.min.js"></script>
        <script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../js/uikit.min.js"></script>
        <!--<script type="text/javascript" src="../../js/videobackground.js"></script>-->
        <script type="text/javascript" src="../../js/jquery.fullPage.js"></script>
        <script type="text/javascript" src="../../js/css3-animate-it.js"></script>
        <script type="text/javascript" src="../../js/jquery.validate.js"></script>
        <script type="text/javascript" src="../../js/moment-with-locales.js"></script>
        <script type="text/javascript" src="../../js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="../../js/jquery.flexslider.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="../../js/script.js"></script>
        <script>
            $('.selectpicker').selectpicker();
        </script>
    </body>
</html>
