<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SYM</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../css/jquery.fullPage.css" />
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap-select.min.css"/>
        <link rel="stylesheet" type="text/css" href="../../css/animations.css" />
        <link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/uikit.min.css" />
        <!--<link rel="stylesheet" type="text/css" href="../../css/videobackground.css" />-->
        <link rel="stylesheet" type="text/css" href="../../css/style.css" />
        <link rel="stylesheet" type="text/css" href="../../css/format.css" />
        <link rel="stylesheet" type="text/css" href="../../css/custom.css" />
        <link rel="stylesheet" type="text/css" href="../../css/flexslider.css" />
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap-datetimepicker.css" />

    </head>
    <body>
        <div class="container-fluid">
            <div class="fix_hd">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><img src="../../images/mainlogo.png"/></a>
                    </div>
                    <a id="nav-full-toggle" class="nav-hamburger" href="#">
                        <span></span>
                    </a>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul id="menu" class="nav navbar-nav">
                            <li class="active" data-menuanchor="firstPage">                                
                                <a href="#firstPage">
                                    <img src="../../images/menu_icon_size/calculator.png" /><br>
                                    <span>Quote</span>
                                </a>
                            </li>
                            <li data-menuanchor="secondPage"><a href="#secondPage">
                                    <img src="../../images/menu_icon_size/faq_icon.png" /><br>
                                    <span>FAQ</span>
                                </a></li>
                            <li data-menuanchor="3rdPage"><a href="#3rdPage">
                                    <img src="../../images/menu_icon_size/video_icon.png" /><br>
                                    <span>MEDIA</span>
                                </a></li>
                            <li data-menuanchor="4thPage"><a href="#4thPage">
                                    <img src="../../images/menu_icon_size/users.png" /><br>
                                    <span>USERS</span>
                                </a></li>
                            <li data-menuanchor="5thPage"><a href="#5thPage">
                                    <img src="../../images/menu_icon_size/fantastic_sign.png" /><br>
                                    <span>Value</span>
                                </a></li>
                            <li data-menuanchor="6thPage"><a href="#6thPage">
                                    <img src="../../images/menu_icon_size/SYM.png" /><br>
                                    <span>CONTACT</span>
                                </a></li>
                            <li data-menuanchor=""><a href="#">
                                    <img src="../../images/menu_icon_size/SYM.png" /><br>
                                    <span>LOGIN</span>
                                </a></li>
                        </ul>                        
                    </div>

                </nav>
            </div>
            <nav id="nav-full" class="layer-change" style="display: none;">
                <ul style="margin-top: 90px;">
                    <li class="mobile-tablet-true" data-menuanchor="firstPage">                                
                        <a href="#firstPage">
                            <img src="../../images/menu_icon_size/calculator.png" /><br>
                            <span>Quote</span>
                        </a>
                    </li>
                    <li class="mobile-tablet-true" data-menuanchor="secondPage"><img src="../../images/menu_icon_size/faq_icon.png" /><br>
                        <span>FAQ</span></li>
                    <li class="mobile-tablet-true" data-menuanchor="3rdPage"><a href="#3rdPage"><img src="../../images/menu_icon_size/video_icon.png" /><br>
                            <span>MEDIA</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="4thPage"><a href="#4thPage"><img src="../../images/menu_icon_size/users.png" /><br>
                            <span>USERS</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="5thPage"><a href="#5thPage"><img src="../../images/menu_icon_size/fantastic_sign.png" /><br>
                            <span>Value</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="6thPage"><a href="#6thPage"><img src="../../images/menu_icon_size/SYM.png" /><br>
                            <span>CONTACT</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="6thPage"><a href="#6thPage"><img src="../../images/menu_icon_size/SYM.png" /><br>
                            <span>LOGIN</span></a></li>
                </ul>
            </nav>
            <div class="insurance_info topMainPadding">
                <div class="insurance_text">
                    Checkout
                </div>
                <div id="shipping_detail" class="vehicle_detail_bg checkout_detail">
                    <form id="vehicle_detail_id" name="vehicle_detail" action="">
                        <div class="row">
                            <div class="section__header">
                                <h2 class="section__title">Payment method</h2>
                                <p class="section__text">
                                    All transactions are secure and encrypted. Credit card information is never stored.
                                </p>
                            </div>
                            <table class="product-table">
                                <caption class="visually-hidden">Additional Covers</caption>
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th align="right">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="product" data-product-id="7203460999" data-variant-id="22897477895" data-product-type="Clothing">
                                        <td class="product__image">                                            
                                            <input type="checkbox"  name="1" value="1">
                                            <label for="tripfrequency"><span></span></label>
                                            <span>TC</span>
                                        </td>
                                        <td class="product__description">
                                            <span>Mandatory Cover</span>
                                        </td>
                                        <td class="product__price" align="right">
                                            <span class="order-summary__emphasis">3000.00</span>
                                        </td>
                                    </tr> 
                                    <tr class="product" data-product-id="7203460999" data-variant-id="22897477895" data-product-type="Clothing">
                                        <td class="product__image">                                            
                                            <input type="checkbox"  name="2" value="1">
                                            <label for="tripfrequency"><span></span></label>
                                            <span>SRCC</span>
                                        </td>
                                        <td class="product__description">
                                            <span>Description of Cover</span>
                                        </td>
                                        <td class="product__price" align="right">
                                            <span class="order-summary__emphasis">2000.00</span>
                                        </td>
                                    </tr>   
                                    <tr class="product" data-product-id="7203460999" data-variant-id="22897477895" data-product-type="Clothing">
                                        <td class="product__image">                                            
                                            <input type="checkbox"  name="1" value="1">
                                            <label for="tripfrequency"><span></span></label>
                                            <span>TC</span>
                                        </td>
                                        <td class="product__description">
                                            <span>Mandatory Cover</span>
                                        </td>
                                        <td class="product__price" align="right">
                                            <span class="order-summary__emphasis">3000.00</span>
                                        </td>
                                    </tr>  
                                    <tr class="product" data-product-id="7203460999" data-variant-id="22897477895" data-product-type="Clothing">
                                        <td class="product__image">                                            
                                            <input type="checkbox"  name="2" value="1">
                                            <label for="tripfrequency"><span></span></label>
                                            <span>SRCC</span>
                                        </td>
                                        <td class="product__description">
                                            <span>Description of Cover</span>
                                        </td>
                                        <td class="product__price" align="right">
                                            <span class="order-summary__emphasis">2000.00</span>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                            <br>
                            <br>
                            <div class="section__header">
                                <h2 class="section__title">Payment method</h2>
                                <p class="section__text">
                                    All transactions are secure and encrypted. Credit card information is never stored.
                                </p>
                            </div>
                            <table class="product-table">
                                <caption class="visually-hidden">Additional Covers</caption>
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th align="right">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="product" data-product-id="7203460999" data-variant-id="22897477895" data-product-type="Clothing">
                                        <td class="product__image">                                            
                                            <div class="select_feild">
                                                <input type="checkbox"  name="4" value="1">
                                                <label for="tripfrequency"><span></span></label>
                                                <span>Car Wash</span>
                                            </div>
                                        </td>
                                        <td class="product__description">
                                            <span>12 Full Service</span>
                                        </td>
                                        <td class="product__price" align="right">
                                            <span class="order-summary__emphasis">12000.00</span>
                                        </td>
                                    </tr> 
                                    <tr class="product" data-product-id="7203460999" data-variant-id="22897477895" data-product-type="Clothing">
                                        <td class="product__image" >                                            
                                            <input type="checkbox"  name="5" value="1">
                                            <label for="tripfrequency"><span></span></label>
                                            <span>Vehicle Care</span>
                                        </td>
                                        <td class="product__description">
                                            <span>Parking Security</span>
                                        </td>
                                        <td class="product__price" align="right">
                                            <span class="order-summary__emphasis">200000.00</span>
                                        </td>
                                    </tr>  
                                    <tr class="product" data-product-id="7203460999" data-variant-id="22897477895" data-product-type="Clothing">
                                        <td class="product__image">                                            
                                            <input type="checkbox"  name="1" value="1">
                                            <label for="tripfrequency"><span></span></label>
                                            <span>Car Wash</span>
                                        </td>
                                        <td class="product__description">
                                            <span>Mandatory Cover</span>
                                        </td>
                                        <td class="product__price" align="right">
                                            <span class="order-summary__emphasis">23000.00</span>
                                        </td>
                                    </tr> 
                                    <tr class="product" data-product-id="7203460999" data-variant-id="22897477895" data-product-type="Clothing">
                                        <td class="product__image">                                            
                                            <input type="checkbox"  name="2" value="1">
                                            <label for="tripfrequency"><span></span></label>
                                            <span>Vehicle Care</span>
                                        </td>
                                        <td class="product__description">
                                            <span>Description of Cover</span>
                                        </td>
                                        <td class="product__price" align="right">
                                            <span class="order-summary__emphasis">21000.00</span>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>

                            <div class="order-summary__section order-summary__section--total-lines" data-order-summary-section="payment-lines">
                                <table class="total-line-table">
                                    <caption class="visually-hidden">Cost summary</caption>
                                    <thead>
                                        <tr>
                                            <th scope="col"><span class="visually-hidden">Description</span></th>
                                            <th scope="col"><span class="visually-hidden">Price</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="total-line total-line--subtotal">
                                            <td class="total-line__name">Subtotal</td>
                                            <td class="total-line__price">
                                                <span class="order-summary__emphasis" data-checkout-subtotal-price-target="20800">8400.00</span>
                                            </td>
                                        </tr>


                                        <tr class="total-line total-line--shipping">
                                            <td class="total-line__name">Shipping</td>
                                            <td class="total-line__price">
                                                <span class="order-summary__emphasis" data-checkout-total-shipping-target="4900">100000.00</span>
                                            </td>
                                        </tr>


                                    </tbody>
                                    <tfoot class="total-line-table__footer">
                                        <tr class="total-line">
                                            <td class="total-line__name payment-due-label">
                                                <span class="payment-due-label__total">Total</span>
                                                <span class="payment-due-label__taxes hidden" data-checkout-taxes="">
                                                    Including <span data-checkout-total-taxes-target="0">$0.00</span> in taxes
                                                </span>
                                            </td>
                                            <td class="total-line__price payment-due">
                                                <span class="payment-due__currency"></span>
                                                <span class="payment-due__price" data-checkout-payment-due-target="25700">108400.00</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <table class="product-table-terms">                                
                                <tbody>
                                    <tr class="product" data-product-id="7203460999" data-variant-id="22897477895" data-product-type="Clothing">
                                        <td class="product__image">                                            
                                            <input type="checkbox"  name="1" value="1">
                                            <label for="tripfrequency"><span></span></label>
                                            <span>Terms & Conditions</span>                                      
                                        </td>                                        
                                    </tr> 
                                    <tr class="product" data-product-id="7203460999" data-variant-id="22897477895" data-product-type="Clothing">
                                        <td class="product__image">                                            
                                            <input type="checkbox"  name="2" value="1">
                                            <label for="tripfrequency"><span></span></label>
                                            <span>Damage Free</span>
                                        </td>                                        
                                    </tr>                                        
                                </tbody>
                            </table>
                            <div style="float: left;width: 100%;" class="row step__footer">

                                <button class="step__footer__continue-btn btn " type="submit" name="button">
                                    <span class="btn__content">Complete Order</span>
                                </button>
                                <a class="step__footer__previous-link" href="shipping.html">
                                    <svg viewBox="0 0 6.7 11.3" height="11.3" width="6.7" xmlns="http://www.w3.org/2000/svg" class="previous-link__icon icon--chevron icon">
                                    <path d="M6.7 1.1l-1-1.1-4.6 4.6-1.1 1.1 1.1 1 4.6 4.6 1-1-4.6-4.6z"/>
                                    </svg>
                                    Return to Previous Page
                                </a>
                            </div>
                        </div>                        
                    </form>
                </div>                
            </div>
            <div id="shipping_footer">                
                <div class="section animatedParent">
                    <div class="container-fluid">
                        <div class="site-footer ">
                            <div class="grid-row">
                                <header class="col-md-3">
                                    <div class="site-footer__logo">
                                        <img style='' src="../../images/footer_monkey.png"/>
                                    </div>
                                </header>


                                <div class="col-md-2">
                                    <h3 class="site-footer__block-title">Our Work</h3>

                                    <nav class="nav nav--secondary">
                                        <ul class="nav__items">
                                            <li class="nav__item"><a href="#">Motion Array</a></li>
                                            <li class="nav__item"><a href="#">Herself</a></li>
                                            <li class="nav__item"><a href="#">Five Simple Steps</a></li>
                                            <li class="nav__item"><a href="#">Tribal</a></li>
                                            <li class="nav__item"><a href="#">oozled</a></li>
                                            <li class="nav__item"><a href="#">PH Museum</a></li>
                                            <li class="nav__item"><a href="#">Charity Bank</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-md-2 add_cmn">
                                    <h3 class="site-footer__block-title">Our Details</h3>
                                    <p class="site-footer__contact-details">

                                        <span id="sproutencodeemail-5763af77a11b4-1"><a href="mailto:info@saveyourmonkey.com
                                                                                        ">info@saveyourmonkey.com
                                            </a></span>
                                        +94 (011) 438 6230
                                    </p>
                                    <p style="margin-bottom: 10px;">Level 1, Liberty Arcade
Colombo 03, Sri Lanka.</p>
                                    <p><img src="../../images/Section_one_inner_tab_icon/address.png" /> We're based in UK.</p>
                                    <ul class="social">
                                        <li class="social__item"><a title="Follow on Twitter" target="_blank" href="#"><img src="../../images/Section_one_inner_tab_icon/twitter.png" /></a></li>
                                        <li class="social__item"><a title="Like on Facebook" target="_blank" href="#"><img src="../../images/Section_one_inner_tab_icon/facebook.png" /></a></li>
                                        <li class="social__item"><a title="Design snippets on Dribbble" target="_blank" href="#"><img src="../../images/Section_one_inner_tab_icon/pinterest.png" /></a></li>
                                        <li class="social__item"><a title="Photos on Instagram" target="_blank" href="#"><img src="../../images/Section_one_inner_tab_icon/instagram.png" /></a></li>
                                    </ul>                
                                </div>
                                <div class="col-md-4" id='contactid'>
                                    <form method="post">
                                        <ul>
                                            <li>
                                                <input type="text" id="nameH" name="nameH" class="required" placeholder="Name">
                                            </li><li>
                                                <input type="text" id="emailH" name="emailH" class="required" placeholder="Email">
                                            </li><li>
                                                <input type="text" id="website" name="website" placeholder="Website">
                                            </li><li>
                                                <input type="text" id="country" name="country" placeholder="Country/Location">
                                            </li><li>
                                                <textarea id="messageH" name="messageH" class="required" placeholder="Describe your project"></textarea>
                                            </li><li>
                                                <input type="button" style="cursor: pointer;" class="btn btn-blue big animated" onclick="submitProject()" value="Submit" id="projectSubmitButton">
                                            </li></ul>
                                    </form>
                                    <!--<a href="#" class="js-hidden">Google +</a>-->
                                </div>
                            </div>
                        </div>
                        <div class="site-footer__company-info">
                            <p>&copy; Copyright 2015 - 2016 All Right Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../../js/jquery.min.js"></script>
        <script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../js/uikit.min.js"></script>
        <!--<script type="text/javascript" src="../../js/videobackground.js"></script>-->
        <script type="text/javascript" src="../../js/jquery.fullPage.js"></script>
        <script type="text/javascript" src="../../js/css3-animate-it.js"></script>
        <script type="text/javascript" src="../../js/jquery.validate.js"></script>
        <script type="text/javascript" src="../../js/moment-with-locales.js"></script>
        <script type="text/javascript" src="../../js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="../../js/jquery.flexslider.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="../../js/script.js"></script>
        <script>
            $('.selectpicker').selectpicker();
        </script>
    </body>
</html>
