<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SYM</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../css/jquery.fullPage.css" />
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap-select.min.css"/>
        <link rel="stylesheet" type="text/css" href="../../css/animations.css" />
        <link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/uikit.min.css" />
        <!--<link rel="stylesheet" type="text/css" href="../../css/videobackground.css" />-->
        <link rel="stylesheet" type="text/css" href="../../css/style.css" />
        <link rel="stylesheet" type="text/css" href="../../css/format.css" />
        <link rel="stylesheet" type="text/css" href="../../css/custom.css" />
        <link rel="stylesheet" type="text/css" href="../../css/flexslider.css" />
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap-datetimepicker.css" />
        <link rel="stylesheet" type="text/css" href="../../css/jquery.fancybox.css" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="fix_hd">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><img src="../../images/mainlogo.png"/></a>
                    </div>
                    <a id="nav-full-toggle" class="nav-hamburger" href="#">
                        <span></span>
                    </a>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul id="menu" class="nav navbar-nav">
                            <li class="active" data-menuanchor="firstPage">                                
                                <a href="#firstPage">
                                    <img src="../../images/menu_icon_size/calculator.png" /><br>
                                    <span>Quote</span>
                                </a>
                            </li>
                            <li data-menuanchor="secondPage"><a href="#secondPage">
                                    <img src="../../images/menu_icon_size/faq_icon.png" /><br>
                                    <span>FAQ</span>
                                </a></li>
                            <li data-menuanchor="3rdPage"><a href="#3rdPage">
                                    <img src="../../images/menu_icon_size/video_icon.png" /><br>
                                    <span>MEDIA</span>
                                </a></li>
                            <li data-menuanchor="4thPage"><a href="#4thPage">
                                    <img src="../../images/menu_icon_size/users.png" /><br>
                                    <span>USERS</span>
                                </a></li>
                            <li data-menuanchor="5thPage"><a href="#5thPage">
                                    <img src="../../images/menu_icon_size/fantastic_sign.png" /><br>
                                    <span>Value</span>
                                </a></li>
                            <li data-menuanchor="6thPage"><a href="#6thPage">
                                    <img src="../../images/menu_icon_size/SYM.png" /><br>
                                    <span>CONTACT</span>
                                </a></li>
                            <li data-menuanchor=""><a href="#">
                                    <img src="../../images/menu_icon_size/SYM.png" /><br>
                                    <span>LOGIN</span>
                                </a></li>
                        </ul>                         
                    </div>

                </nav>
            </div>
            <nav id="nav-full" class="layer-change" style="display: none;">
                <ul style="margin-top: 90px;">
                    <li class="mobile-tablet-true" data-menuanchor="firstPage">                                
                        <a href="#firstPage">
                            <img src="../../images/menu_icon_size/calculator.png" /><br>
                            <span>Quote</span>
                        </a>
                    </li>
                    <li class="mobile-tablet-true" data-menuanchor="secondPage"><img src="../../images/menu_icon_size/faq_icon.png" /><br>
                        <span>FAQ</span></li>
                    <li class="mobile-tablet-true" data-menuanchor="3rdPage"><a href="#3rdPage"><img src="../../images/menu_icon_size/video_icon.png" /><br>
                            <span>MEDIA</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="4thPage"><a href="#4thPage"><img src="../../images/menu_icon_size/users.png" /><br>
                            <span>USERS</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="5thPage"><a href="#5thPage"><img src="../../images/menu_icon_size/fantastic_sign.png" /><br>
                            <span>Value</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="6thPage"><a href="#6thPage"><img src="../../images/menu_icon_size/SYM.png" /><br>
                            <span>CONTACT</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="6thPage"><a href="#6thPage"><img src="../../images/menu_icon_size/SYM.png" /><br>
                            <span>LOGIN</span></a></li>
                </ul>
            </nav>
            <div id="section4" class="brandPage">
                <div class="container topMainPadding">
                    <h1 class="repeatl4 animated fadeInLeft block go">
                        Portfolio
                    </h1>
                    <h4 class="repeatl5 animated fadeInRight block go">Save Your Monkey</h4>
                    <div class="row" style="margin-top: 30px;">
                        <div id="portfolio" class="portfolio-holder portfolio-type-2 is-masonry-layout sort-by-js portfolio-loop-custom-item-spacing">
                            <div class="portfolio-item portfolio-item-type-6 with-padding w4 post-3789 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-city portfolio_category-people">
                                <div class="item-box-container">
                                    <div class="item-box wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                        <div class="thumb">
                                            <a href="../../images/portfolio/1.jpg" data-fancybox-group="gallery" class="fancybox item-link">
                                                <div class="hover-state padding hover-eff-fade-slide position-center hover-full hover-style-white opacity-yes">
                                                    <div class="info">
                                                        <h3>
                                                            Subway Stop 	
                                                        </h3>
                                                        <p class="terms">
                                                            City		
                                                            ,
                                                            People
                                                        </p>			    	
                                                    </div>
                                                </div>
                                                <span class="image-placeholder arel-1 do-lazy-load-on-shown loading-finished">
                                                    <img width="655" height="437" alt="" class="visibility-hidden img-loaded" src="../../images/portfolio/1.jpg">
                                                </span>
                                            </a>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-item portfolio-item-type-6 with-padding w4 post-3824 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-architecture">
                                <div class="item-box-container">
                                    <div class="item-box wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                        <div class="thumb">
                                            <a href="../../images/portfolio/2.jpeg" data-fancybox-group="gallery" class="fancybox item-link">
                                            <div class="hover-state padding hover-eff-fade-slide position-center hover-full hover-style-white opacity-yes">
                                                <div class="info">
                                                    <h3>
                                                        
                                                            Abstract Building					    	
                                                        
                                                    </h3>
                                                    <p class="terms">
                                                        
                                                            Architecture		
                                                        
                                                    </p>			    	
                                                </div>
                                            </div>
                                            
                                                <span class="image-placeholder arel-2 do-lazy-load-on-shown loading-finished">
                                                    <img width="655" height="1009" alt="" class="visibility-hidden img-loaded" src="../../images/portfolio/2.jpeg">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-item portfolio-item-type-6 with-padding w4 post-3820 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-architecture portfolio_category-city portfolio_category-video">
                                <div class="item-box-container">
                                    <div class="item-box wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                        <div class="thumb">
                                            <a href="../../images/portfolio/3.jpeg" data-fancybox-group="gallery" class="fancybox item-link">
                                            <div class="hover-state padding hover-eff-fade-slide position-center hover-full hover-style-white opacity-yes">                                                
                                                <div class="info">
                                                    <h3>
                                                        
                                                            Big Cities					    	
                                                        
                                                    </h3>
                                                    <p class="terms">
                                                        
                                                            Architecture,		
                                                        
                                                            City,		
                                                        
                                                            Video,		
                                                        
                                                    </p>			    	
                                                </div>
                                            </div>
                                            
                                                <span class="image-placeholder arel-3 do-lazy-load-on-shown loading-finished">
                                                    <img width="655" height="873" alt="" class="visibility-hidden img-loaded" src="../../images/portfolio/3.jpeg">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-item portfolio-item-type-6 with-padding w4 post-3789 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-city portfolio_category-people">
                                <div class="item-box-container">
                                    <div class="item-box wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                        <div class="thumb">
                                            <a href="../../images/portfolio/4.jpeg" data-fancybox-group="gallery" class="fancybox item-link">
                                            <div class="hover-state padding hover-eff-fade-slide position-center hover-full hover-style-white opacity-yes">
                                                <div class="info">
                                                    <h3>
                                                        
                                                            Subway Stop					    	
                                                        
                                                    </h3>
                                                    <p class="terms">
                                                        
                                                            City		
                                                        , 
                                                        
                                                            People		
                                                       
                                                    </p>			    	
                                                </div>
                                            </div>
                                            
                                                <span class="image-placeholder arel-1 do-lazy-load-on-shown loading-finished">
                                                    <img width="655" height="437" alt="" class="visibility-hidden img-loaded" src="../../images/portfolio/4.jpeg">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-item portfolio-item-type-6 with-padding w4 post-3824 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-architecture">
                                <div class="item-box-container">
                                    <div class="item-box wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                        <div class="thumb">
                                            <a  href="../../images/portfolio/5.jpeg" data-fancybox-group="gallery" class="fancybox item-link">
                                            <div class="hover-state padding hover-eff-fade-slide position-center hover-full hover-style-white opacity-yes">
                                                <div class="info">
                                                    <h3>
                                                        
                                                            Abstract Building					    	
                                                       
                                                    </h3>
                                                    <p class="terms">
                                                        
                                                            Architecture		
                                                       
                                                    </p>			    	
                                                </div>
                                            </div>
                                            
                                                <span class="image-placeholder arel-2 do-lazy-load-on-shown loading-finished">
                                                    <img width="655" height="1009" alt="" class="visibility-hidden img-loaded" src="../../images/portfolio/5.jpeg">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-item portfolio-item-type-6 with-padding w4 post-3820 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-architecture portfolio_category-city portfolio_category-video">
                                <div class="item-box-container">
                                    <div class="item-box wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                        <div class="thumb">
                                            <a href="../../images/portfolio/6.jpg" data-fancybox-group="gallery" class="fancybox item-link">
                                            <div class="hover-state padding hover-eff-fade-slide position-center hover-full hover-style-white opacity-yes">                                                
                                                <div class="info">
                                                    <h3>
                                                        
                                                            Big Cities					    	
                                                        
                                                    </h3>
                                                    <p class="terms">
                                                        
                                                            Architecture		
                                                        , 
                                                        
                                                            City		
                                                        , 
                                                        
                                                            Video		
                                                       
                                                    </p>			    	
                                                </div>
                                            </div>
                                            
                                                <span class="image-placeholder arel-3 do-lazy-load-on-shown loading-finished">
                                                    <img width="655" height="873" alt="" class="visibility-hidden img-loaded" src="../../images/portfolio/6.jpg">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-item portfolio-item-type-6 with-padding w4 post-3789 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-city portfolio_category-people">
                                <div class="item-box-container">
                                    <div class="item-box wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                        <div class="thumb">
                                            <a href="../../images/portfolio/4.jpeg" data-fancybox-group="gallery" class="fancybox item-link">
                                            <div class="hover-state padding hover-eff-fade-slide position-center hover-full hover-style-white opacity-yes">
                                                <div class="info">
                                                    <h3>
                                                        
                                                            Subway Stop					    	
                                                        
                                                    </h3>
                                                    <p class="terms">
                                                        
                                                            City		
                                                        ,
                                                        
                                                            People		
                                                       
                                                    </p>			    	
                                                </div>
                                            </div>
                                            
                                                <span class="image-placeholder arel-1 do-lazy-load-on-shown loading-finished">
                                                    <img width="655" height="437" alt="" class="visibility-hidden img-loaded" src="../../images/portfolio/4.jpeg">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-item portfolio-item-type-6 with-padding w4 post-3824 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-architecture">
                                <div class="item-box-container">
                                    <div class="item-box wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                        <div class="thumb">
                                            <a href="../../images/portfolio/5.jpeg" data-fancybox-group="gallery" class="fancybox item-link">
                                            <div class="hover-state padding hover-eff-fade-slide position-center hover-full hover-style-white opacity-yes">
                                                <div class="info">
                                                    <h3>
                                                        
                                                            Abstract Building					    	
                                                        
                                                    </h3>
                                                    <p class="terms">
                                                        
                                                            Architecture		
                                                        
                                                    </p>			    	
                                                </div>
                                            </div>
                                           
                                                <span class="image-placeholder arel-2 do-lazy-load-on-shown loading-finished">
                                                    <img width="655" height="1009" alt="" class="visibility-hidden img-loaded" src="../../images/portfolio/5.jpeg">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-item portfolio-item-type-6 with-padding w4 post-3820 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-architecture portfolio_category-city portfolio_category-video">
                                <div class="item-box-container">
                                    <div class="item-box wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                        <div class="thumb">
                                            <a href="../../images/portfolio/6.jpg" data-fancybox-group="gallery" class="fancybox item-link">
                                            <div class="hover-state padding hover-eff-fade-slide position-center hover-full hover-style-white opacity-yes">                                                
                                                <div class="info">
                                                    <h3>
                                                        
                                                            Big Cities					    	
                                                        
                                                    </h3>
                                                    <p class="terms">
                                                        
                                                            Architecture		
                                                       , 
                                                        
                                                            City		
                                                        , 
                                                        
                                                            Video		
                                                        
                                                    </p>			    	
                                                </div>
                                            </div>
                                            
                                                <span class="image-placeholder arel-3 do-lazy-load-on-shown loading-finished">
                                                    <img  width="655" height="873" alt="" class="visibility-hidden img-loaded" src="../../images/portfolio/6.jpg">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="insurance_info loadmore_portfolio">
                        <button name="button" type="submit" class="step__footer__continue-btn btn ">
                            <span class="btn__content">Load More</span>
                        </button>
                    </div>
                </div>
            </div>
            <div id="shipping_footer">                
                <div class="section animatedParent">
                    <div class="container-fluid">
                        <div class="site-footer ">
                            <div class="grid-row">
                                <header class="col-md-3">
                                    <div class="site-footer__logo">
                                        <img style='' src="../../images/footer_monkey.png"/>
                                    </div>
                                </header>                                
                                <div class="col-md-2">
                                    <h3 class="site-footer__block-title">Our Work</h3>

                                    <nav class="nav nav--secondary">
                                        <ul class="nav__items">
                                            <li class="nav__item"><a href="#">Motion Array</a></li>
                                            <li class="nav__item"><a href="#">Herself</a></li>
                                            <li class="nav__item"><a href="#">Five Simple Steps</a></li>
                                            <li class="nav__item"><a href="#">Tribal</a></li>
                                            <li class="nav__item"><a href="#">oozled</a></li>
                                            <li class="nav__item"><a href="#">PH Museum</a></li>
                                            <li class="nav__item"><a href="#">Charity Bank</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-md-2 add_cmn">
                                    <h3 class="site-footer__block-title">Our Details</h3>
                                    <p class="site-footer__contact-details">

                                        <span id="sproutencodeemail-5763af77a11b4-1"><a href="mailto:info@saveyourmonkey.com
                                                                                        ">info@saveyourmonkey.com
                                            </a></span>
                                        +94 (011) 438 6230
                                    </p>
                                    <p style="margin-bottom: 10px;">Level 1, Liberty Arcade
                                        Colombo 03, Sri Lanka.</p>

                                    <p><img src="../../images/Section_one_inner_tab_icon/address.png" /> We're based in UK.</p>
                                    <ul class="social">
                                        <li class="social__item"><a title="Follow on Twitter" target="_blank" href="#"><img src="../../images/Section_one_inner_tab_icon/twitter.png" /></a></li>
                                        <li class="social__item"><a title="Like on Facebook" target="_blank" href="#"><img src="../../images/Section_one_inner_tab_icon/facebook.png" /></a></li>
                                        <li class="social__item"><a title="Design snippets on Dribbble" target="_blank" href="#"><img src="../../images/Section_one_inner_tab_icon/pinterest.png" /></a></li>
                                        <li class="social__item"><a title="Photos on Instagram" target="_blank" href="#"><img src="../../images/Section_one_inner_tab_icon/instagram.png" /></a></li>
                                    </ul>  
                                </div>
                                <div class="col-md-4" id='contactid'>
                                    <form method="post">
                                        <ul>
                                            <li>
                                                <input type="text" id="nameH" name="nameH" class="required" placeholder="Name">
                                            </li><li>
                                                <input type="text" id="emailH" name="emailH" class="required" placeholder="Email">
                                            </li><li>
                                                <input type="text" id="website" name="website" placeholder="Website">
                                            </li><li>
                                                <input type="text" id="country" name="country" placeholder="Country/Location">
                                            </li><li>
                                                <textarea id="messageH" name="messageH" class="required" placeholder="Describe your project"></textarea>
                                            </li><li>
                                                <input type="button" style="cursor: pointer;" class="btn btn-blue big animated" onclick="submitProject()" value="Submit" id="projectSubmitButton">
                                            </li></ul>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="site-footer__company-info">
                            <p>&copy; Copyright 2015 - 2016 All Right Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../../js/jquery.min.js"></script>
        <script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../js/uikit.min.js"></script>
        <!--<script type="text/javascript" src="../../js/videobackground.js"></script>-->
        <script type="text/javascript" src="../../js/jquery.fullPage.js"></script>
        <script type="text/javascript" src="../../js/css3-animate-it.js"></script>
        <script type="text/javascript" src="../../js/jquery.validate.js"></script>
        <script type="text/javascript" src="../../js/moment-with-locales.js"></script>
        <script type="text/javascript" src="../../js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="../../js/jquery.flexslider.js"></script>
        <script type="text/javascript" src="../../js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="../../js/jquery.fancybox.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="../../js/script.js"></script>
        <script>
                                                    $('.selectpicker').selectpicker();
                                                    $('#portfolio').masonry({
                                                        // options
                                                        itemSelector: '.portfolio-item'
                                                    });
                                                    jQuery('.fancybox').fancybox();
        </script>

    </body>
</html>
