<%- layout('../form') %>


<div class="insurance_info topMainPadding">
    <div class="insurance_text">
        Request Form
    </div>
    <ul class="breadcrumbc">
        <li class="breadcrumb__item breadcrumb__item--blank">
            Vehicle Details
        </li>
        <li class="breadcrumb__item breadcrumb__item--current" style="color: green">
            Personal Info
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Insurance Info
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Quotation
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Further Vehicle Information
        </li>
    </ul>

    <div id="personal_detail" class="vehicle_detail_bg" >
        <form  action="/personalDetails" method="post" onsubmit="return validateFormPersonalV()">
            <div class="row">
                <div class=" field--required field--three-eights field--show-floating-label" style="padding-bottom: 10px">
                    <div class="field__input-wrapper field__input-wrapper--select">
                        <label for="checkout_shipping_address_country" class="field__label">Title</label>
                        <select name="title" id="title" class="field__input field__input--select" required >
                            <option value="">Select Title</option>
                            <% for(var x = 0; x < prefix.length; x++) { %>
                            <option value="<%= prefix[x].name %>"><%= prefix[x].name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="showfirstnamelabel" class="field__input-wrapper">
                    <label for="checkout_name" class="field__label">First Name</label>
                    <input id="firstname" name="first_name" type="text" placeholder="First Name" pattern="[a-zA-Z]{1,}" class="field__input" required/>
                </div>
            </div>
            <div class="row">
                <div id="showlastnamelabel" class="field__input-wrapper">
                    <label for="checkout_name" class="field__label">Last Name</label>
                    <input id="lastname" name="last_name" type="text" placeholder="Last Name" pattern="[a-zA-Z]{1,}" class="field__input" required/>
                </div>
            </div>
            <div class="row">
                <div id="showemaillabel" class="field__input-wrapper">
                    <label for="checkout_email" class="field__label">Email</label>
                    <input id="email" name="email" type="email" placeholder="Email" class="field__input" required/>
                </div>
            </div>
            <div class="row">
                <div id="showmobilelabel" class="field__input-wrapper">
                    <label for="checkout_mobile" class="field__label">Mobile</label>
                    <input id="mobile" name="mobile" type="text" placeholder="Mobile" pattern="[0-9]{,10}"  minlength="10" maxlength="10" class="field__input" required/>
                </div>
            </div>
            <div class="row">
                <div id="showniclabel" class="field__input-wrapper">
                    <label for="checkout_nic" class="field__label">NIC</label>
                    <input id="nic" name="nic" type="text" placeholder="NIC" pattern="[0-9]{9}[vVxX]" class="field__input" required/>
                </div>
            </div>
            <div class="row insuranceButtonMarginTop">
                <input type="hidden" value="<%= hidden %>" name="insurance_quotation">
                <div style="float: left;width: 100%;" class="row step__footer">

                    <button class="step__footer__continue-btn btn " type="submit" name="button">
                        <span class="btn__content">Process</span>
                    </button>
                    <a class="step__footer__previous-link" href="/vehicleDetails">
                        <svg viewBox="0 0 6.7 11.3" height="11.3" width="6.7" xmlns="http://www.w3.org/2000/svg" class="previous-link__icon icon--chevron icon">
                            <path d="M6.7 1.1l-1-1.1-4.6 4.6-1.1 1.1 1.1 1 4.6 4.6 1-1-4.6-4.6z"/>
                        </svg>
                        Return to Previous Page
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="bottomInfor">
        * Note - Information provided must be true.
    </div>
</div>

