<%- layout('../form') %>

<div class="insurance_info topMainPadding">
    <div class="insurance_text">
        Shipping
    </div>
    <div id="shipping_detail" class="vehicle_detail_bg">
        <form action="/shippingDetails" method="post" onsubmit="return validateFormShippingV()">
            <div class="row">


                <div class="section section--shipping-method">
                    <div class="section__header">
                        <h2 class="section__title">Shipping method</h2>
                    </div>
                    <div class="section__content">
                        <div class="row">
                            <div class="field field--required field--three-eights field--show-floating-label">
                                <div class="field__input-wrapper field__input-wrapper--select">
                                    <label for="checkout_shipping_address_country" class="field__label shippDropdown">Make</label>
                                    <select name="shipping_method" id="shipping_method" class="field__input field__input--select" required>
                                        <option value="">Select Shipping method</option>
                                        <% for(var y = 0; y < shipping_methods.length; y++) { %>
                                        <option value="<%= shipping_methods[y].id %>"><%= shipping_methods[y].shipping_method %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section--shipping-address">
                    <div class="section__header">
                        <h2 class="section__title">
                            Registered Address
                        </h2>
                    </div>
                    <div class="bottomInfor">
                        * Note - Information about register person.
                    </div>
                    <div class="col-md-8 paddleftzero">
                        <div id="showaddresslabel" class="field__input-wrapper">
                            <label for="checkout_name" class="field__label">Address</label>
                            <input id="address" name="address" type="text" placeholder="Address" class="field__input" required />
                        </div>
                    </div>
                    <div class="col-md-4 paddrightzero">
                        <div id="showaptsuitlabel" class="field__input-wrapper">
                            <label for="checkout_name" class="field__label">Apt, Suit etc</label>
                            <input id="altsuit" name="alt_suit" type="text" placeholder="Apt, Suit etc" class="field__input" required />
                        </div>
                    </div>
                    <div class="col-md-12 paddrightzero paddleftzero">
                        <div id="showcitylabel" class="field__input-wrapper">
                            <label for="checkout_name" class="field__label">City</label>
                            <input id="city" name="city" type="text" placeholder="City" class="field__input" required />
                        </div>
                    </div>
                    <div class="col-md-6 paddleftzero mobilecountry">
                        <div class="field field--required field--three-eights field--show-floating-label paddzero">
                            <div class="field__input-wrapper field__input-wrapper--select">
                                <label for="checkout_shipping_address_country" class="field__label">Country</label>
                                <select id="country" name="country" class="field__input field__input--select" required>
                                    <option value="">Select Country</option>
                                    <option value="Ketchup">US</option>
                                    <option value="Relish">Mrs</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 paddrightzero">
                        <div id="showpostalcodelabel" class="field__input-wrapper">
                            <label for="checkout_name" class="field__label">Postal Code</label>
                            <input id="postalcode" name="postal_code" type="text" placeholder="Postal Code" class="field__input" required />
                        </div>
                    </div>
                    <div class="col-md-12 paddrightzero paddleftzero">
                        <div id="showphonelabel" class="field__input-wrapper">
                            <label for="checkout_name" class="field__label">Phone</label>
                            <input id="phone" name="phone" type="tel" placeholder="Phone" class="field__input" required />
                        </div>
                    </div>
                </div>
                <div class="section section--shipping-address" style="float:left;">
                    <div class="section__header">
                        <h2 class="section__title">
                            Shipping Address
                        </h2>
                    </div>
                    <div class="bottomInfor">
                        * Note - Information about person must be same as registered .
                    </div>
                    <table class="product-table-terms">
                        <tbody>
                        <tr class="product" data-product-id="7203460999" data-variant-id="22897477895" data-product-type="Clothing">
                            <td class="product__image">
                                <input id="sameAsRegistered" type="checkbox"  name="sameAsRegistered" value="checked">
                                <label for="tripfrequency"><span></span></label>
                                <span>Same as Registered</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="sameAsRegisteredDiv">
                        <div class="col-md-8 paddleftzero">
                            <div id="showaddresslabel" class="field__input-wrapper">
                                <label for="checkout_name" class="field__label">Address</label>
                                <input id="address2" name="address2" type="text" placeholder="Address" class="field__input"  required/>
                            </div>
                        </div>
                        <div class="col-md-4 paddrightzero">
                            <div id="showaptsuitlabel" class="field__input-wrapper">
                                <label for="checkout_name" class="field__label">Apt, Suit etc</label>
                                <input id="altsuit2" name="alt_suit2" type="text" placeholder="Apt, Suit etc" class="field__input"  required />
                            </div>
                        </div>
                        <div class="col-md-12 paddrightzero paddleftzero">
                            <div id="showcitylabel" class="field__input-wrapper">
                                <label for="checkout_name" class="field__label">City</label>
                                <input id="city2" name="city2" type="text" placeholder="City" class="field__input"  required/>
                            </div>
                        </div>
                        <div class="col-md-6 paddleftzero mobilecountry">
                            <div class="field field--required field--three-eights field--show-floating-label paddzero">
                                <div class="field__input-wrapper field__input-wrapper--select">
                                    <label for="checkout_shipping_address_country" class="field__label">Country</label>
                                    <select name="country2" id="country2" class="field__input field__input--select" required>
                                        <option value="">Select Country</option>
                                        <option value="Ketchup">US</option>
                                        <option value="Relish">Mrs</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 paddrightzero">
                            <div id="showpostalcodelabel" class="field__input-wrapper">
                                <label for="checkout_name" class="field__label">Postal Code</label>
                                <input id="postalcode2" name="postal_code2" type="text" placeholder="Postal Code" class="field__input"  required/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-summary__section order-summary__section--total-lines checkout_shiiping_cost" data-order-summary-section="payment-lines" style="float: left;">
                    <table class="total-line-table">

                        <tfoot class="total-line-table__footer">
                        <tr class="total-line">
                            <td class="total-line__name payment-due-label">
                                <span class="payment-due-label__total">Total Shipping Cost</span>
                                <span class="payment-due-label__taxes hidden" data-checkout-taxes="">
                                                    Including <span data-checkout-total-taxes-target="0">$0.00</span> in taxes
                                                </span>
                            </td>
                            <td class="total-line__price payment-due">
                                <span class="payment-due__currency"></span>
                                <span class="payment-due__price" data-checkout-payment-due-target="25700"><%= company_value %>.00</span>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div data-payment-method="" class="section section--payment-method">
                    <div class="section__header">
                        <h2 class="section__title">Payment method</h2>
                        <p class="section__text">
                            All transactions are secure and encrypted. Credit card information is never stored.
                        </p>
                    </div>

                    <div class="section__content">
                        <div data-payment-subform="required">
                            <div class="content-box">
                                <div data-select-gateway="18551425" data-gateway-group="direct" class="radio-wrapper content-box__row ">
                                    <div class="radio__input">
                                        <label class="radio">
                                            <input type="radio" name="checkout" checked="checked" value="18551425" id="checkout_payment_gateway_18551425" class="rad">
                                            <span class="outer"><span class="inner"></span></span>
                                        </label>
                                    </div>
                                    <label for="checkout_payment_gateway_18551425" class="radio__label content-box__emphasis payment-method-wrapper">
                                        <div class="radio-wrapper">
                                            <div class="checkbox__label">
                                                Credit card
                                            </div>
                                            <div class="radio__accessory">
                                                <span class="visually-hidden">Pay with:</span>
                                                <ul data-brand-icons-for-gateway="18551425">
                                                    <li class="payment-icon payment-icon--visa" data-payment-icon="visa">
                                                        <span class="visually-hidden">Visa</span>
                                                    </li>
                                                    <li class="payment-icon payment-icon--master" data-payment-icon="master">
                                                        <span class="visually-hidden">MasterCard</span>
                                                    </li>
                                                    <li class="payment-icon payment-icon--american-express" data-payment-icon="american-express">
                                                        <span class="visually-hidden">American Express</span>
                                                    </li>
                                                    <li class="payment-icon payment-icon--discover" data-payment-icon="discover">
                                                        <span class="visually-hidden">Discover</span>
                                                    </li>
                                                    <li class="payment-icon-list__more">
                                                                    <span class="content-box__small-text">
                                                                        and more…
                                                                    </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </label>
                                </div>

                                <div id="payment-gateway-subfields-18551425" data-subfields-for-gateway="18551425" class="radio-wrapper content-box__row content-box__row--secondary">
                                    <div dir="ltr" data-credit-card-fields="" class="fieldset ">
                                        <div class="field field--required">
                                            <div id="showcardnumberlabel" class="field__input-wrapper">
                                                <label for="checkout_name" class="field__label">Card number</label>
                                                <input id="cardnumber" name="card_number" type="text" placeholder="Card number" class="field__input" required />
                                                <span class="field__icon icon icon--lock" id="credit_card_number_tooltip">
                                                                <span class="visually-hidden">Secure field</span>
                                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-md-8 paddleftzero">
                                            <div data-credit-card-name="true" class="field--half field field--required">
                                                <div id="shownameoncardlabel" class="field__input-wrapper">
                                                    <label for="checkout_name" class="field__label">Name on card</label>
                                                    <input id="nameoncard" name="name_on_card" type="text" placeholder="Name on card" class="field__input" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 paddleftzero">
                                            <div data-debit-card-alternative-text="Expiry (MM / YY)" class="field--quarter field field--required">
                                                <div id="showmmyylabel" class="field__input-wrapper">
                                                    <label for="checkout_name" class="field__label">MM / YY</label>
                                                    <input id="mmyy" name="mm_yy" type="text" placeholder="MM / YY" class="field__input" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 paddrightzero paddleftzero">
                                            <div class="field--quarter field field--required">
                                                <div id="showcvvlabel" class="field__input-wrapper">
                                                    <label for="checkout_name" class="field__label">CVV</label>
                                                    <input id="cvv" name="cvv" type="text" placeholder="CVV" class="field__input" required />
                                                    <span role="tooltip" class="field__icon icon icon--question has-tooltip" tabindex="0" id="credit_card_verification_value_tooltip">
                                                                    <span class="tooltip">
                                                                        <span data-cvv-tooltip="unknown">
                                                                            3-digit security code usually found on the back of your card. American Express cards have a 4-digit code located on the front.
                                                                        </span>
                                                                        <span class="hidden" data-cvv-tooltip="amex">
                                                                            4-digit security code on the front of your card
                                                                        </span>
                                                                        <span class="hidden" data-cvv-tooltip="other">
                                                                            3-digit security code on the back of your card
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-select-gateway="6692801" data-gateway-group="express" class="radio-wrapper content-box__row ">
                                    <div class="radio__input">
                                        <label class="radio">
                                            <input type="radio" name="checkout" value="6692801" id="checkout_payment_gateway_6692801" class="rad">
                                            <span class="outer"><span class="inner"></span></span>
                                        </label>
                                    </div>
                                    <label for="checkout_payment_gateway_6692801" class="radio__label content-box__emphasis ">
                                        <div class="radio-wrapper">
                                            <div class="checkbox__label">
                                                <img src="//cdn.shopify.com/s/assets/checkout_v2/offsite-gateway-logos/paypal@2x-2cabd13111981089fdf7f9faee0ef21550690cd2d380dede9fb7bc8c1253b3c6.png" class="offsite-payment-gateway-logo" alt="PayPal">
                                                <span class="visually-hidden">PayPal</span>
                                            </div>

                                            <div class="radio__accessory">
                                                <span class="visually-hidden">Pay with:</span>

                                                <ul data-brand-icons-for-gateway="6692801">

                                                </ul>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div id="payment-gateway-subfields-6692801" data-subfields-for-gateway="6692801" class="radio-wrapper content-box__row content-box__row--secondary hidden">
                                    <div class="blank-slate">
                                        <i class="blank-slate__icon icon icon--offsite"></i>
                                        <p>You will be redirected to PayPal to complete your purchase securely.</p>
                                    </div>
                                </div>
                                <div data-select-gateway="6692801" data-gateway-group="express" class="radio-wrapper content-box__row ">
                                    <div class="radio__input">
                                        <label class="radio">
                                            <input type="radio" name="checkout" value="6692802" id="checkout_payment_gateway_6692801" class="rad">
                                            <span class="outer"><span class="inner"></span></span>
                                        </label>
                                    </div>
                                    <label for="checkout_payment_gateway_6692801" class="radio__label content-box__emphasis ">
                                        <div class="radio-wrapper">
                                            <div class="checkbox__label">
                                                Payment On Delivery
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div data-select-gateway="6692801" data-gateway-group="express" class="radio-wrapper content-box__row ">
                                    <div class="radio__input">
                                        <label class="radio">
                                            <input type="radio" name="checkout" value="6692803" id="checkout_payment_gateway_6692801" class="rad">
                                            <span class="outer"><span class="inner"></span></span>
                                        </label>
                                    </div>
                                    <label for="checkout_payment_gateway_6692801" class="radio__label content-box__emphasis ">
                                        <div class="radio-wrapper">
                                            <div class="checkbox__label">
                                                Bank Transfer
                                            </div>
                                        </div>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section--optional">
                    <div class="section__content">
                        <div class="checkbox-wrapper">
                            <div class="checkbox__input">
                                <input type="hidden" value="0" name="checkout[buyer_accepts_marketing]"><input type="checkbox" id="checkout_buyer_accepts_marketing" name="checkout[buyer_accepts_marketing]" checked="checked" value="1" aria-labelledby="error-for-buyer_accepts_marketing" data-backup="buyer_accepts_marketing" class="input-checkbox">
                            </div>
                            <label for="checkout_buyer_accepts_marketing" class="checkbox__label">
                                Subscribe to our newsletter
                            </label>
                        </div>
                    </div>
                </div>
                <div style="float: left;width: 100%;" class="row step__footer">

                    <button id="submit" class="step__footer__continue-btn btn " type="submit" name="button">
                        <span class="btn__content">Complete Order</span>
                    </button>
                    <a class="step__footer__previous-link" href="insurance.html">
                        <svg viewBox="0 0 6.7 11.3" height="11.3" width="6.7" xmlns="http://www.w3.org/2000/svg" class="previous-link__icon icon--chevron icon">
                            <path d="M6.7 1.1l-1-1.1-4.6 4.6-1.1 1.1 1.1 1 4.6 4.6 1-1-4.6-4.6z"/>
                        </svg>
                        Return to Previous Page
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/static/lib/payform/dist/payform.js"></script>
<script type="text/javascript">
    (function() {
        var ccnum  = document.getElementById('cardnumber'),
                //type   = document.getElementById('ccnum-type'),
                expiry = document.getElementById('mmyy'),
                cvc    = document.getElementById('cvv')
                //submit = document.getElementById('submit')
                //result = document.getElementById('result')
                ;

        payform.cardNumberInput(ccnum);
        payform.expiryInput(expiry);
        payform.cvcInput(cvc);

        ccnum.addEventListener('input',   updateType);

        expiry.addEventListener('input', updateExtError);

        cvc.addEventListener('input', updateCvcError);

        function updateType(e) {
            var cardType = payform.parseCardType(e.target.value);
            $("#credit_card_number_tooltip").removeClass("payment-icon--visa");
            $("#credit_card_number_tooltip").removeClass("icon--lock");
            $("#credit_card_number_tooltip").removeClass("payment-icon--master");
            $("#credit_card_number_tooltip").removeClass("payment-icon--american-express");
            $("#credit_card_number_tooltip").removeClass("payment-icon--discover");

            if(cardType=='visa'){
                $("#credit_card_number_tooltip").addClass('payment-icon--visa');
            }else if(cardType=='amex'){
                $("#credit_card_number_tooltip").addClass('payment-icon--american-express');
            }else if(cardType=='mastercard'){
                $("#credit_card_number_tooltip").addClass('payment-icon--master');
            }else if(cardType=='discover'){
                $("#credit_card_number_tooltip").addClass('payment-icon--discover');
            }else{
                $("#credit_card_number_tooltip").addClass('icon--lock');
            }


            if(!(payform.validateCardNumber(ccnum.value))){
                $('#cardnumber').get(0).setCustomValidity('Entered Card is a Invalid type.');
            }else {
                $('#cardnumber').get(0).setCustomValidity('');
            }



            //type.innerHTML = cardType || 'invalid';
        }

        function updateExtError() {
            if(!(payform.validateCardExpiry(payform.parseCardExpiry(expiry.value)))){
                $('#mmyy').get(0).setCustomValidity('Entered Exp Date is a Invalid Date.');
            }else {
                $('#mmyy').get(0).setCustomValidity('');
            }
        }

        function updateCvcError() {
            if(!(payform.validateCardCVC(cvc.value))){
                $('#cvv').get(0).setCustomValidity('Entered CVC is a Invalid Number.');
            }else {
                $('#cvv').get(0).setCustomValidity('');
            }
        }


    })(window);
</script>


