<%- layout('../form') %>


<div class="insurance_info topMainPadding">
    <div class="insurance_text">
       Request Form
    </div>
    <ul class="breadcrumbc">
        <li class="breadcrumb__item breadcrumb__item--current" style="color: green">
            Vehicle Details
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Personal Info
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Insurance Info
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Quotation
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Further Vehicle Information
        </li>
    </ul>
    <div id="vehicle_detail" class="vehicle_detail_bg" style="display:block;">
        <form name="vehicle_detail" action="/vehicleDetails" method="post" id="vDetailsForm" onsubmit="return validateFormDetailsV()">
            <div class="row">
                <div class="field field--required field--three-eights field--show-floating-label">
                    <div class="field__input-wrapper field__input-wrapper--select">
                        <label for="checkout_shipping_address_country" class="field__label">Make</label>
                        <select name="make" class="field__input field__input--select" id="make" required>
                            <option value="">Select Make</option>
                            <% for(var x = 0; x < make.length; x++) { %>
                            <option value="<%= make[x].id %>"><%= make[x].make %></option>
                            <% } %>

                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="field field--required field--three-eights field--show-floating-label">
                    <div class="field__input-wrapper field__input-wrapper--select">
                        <label for="checkout_shipping_address_country" class="field__label">Model</label>
                        <select id="model" name="model" class="field__input field__input--select" required disabled>
                            <option value="">Select Model</option>

                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="field field--required field--three-eights field--show-floating-label">
                    <div class="field__input-wrapper field__input-wrapper--select">
                        <label for="checkout_shipping_address_country" class="field__label">Fuel Type</label>
                        <select name="fuel" id="fuel" class="field__input field__input--select" required disabled>
                            <option value="">Select Fuel Type</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="field field--required field--three-eights field--show-floating-label">
                    <div class="field__input-wrapper field__input-wrapper--select">
                        <label for="checkout_shipping_address_country" class="field__label">Year</label>
                        <select name="year" id="year" class="field__input field__input--select" required disabled>
                            <option value="">Select Year</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="showValuelabel" class="field__input-wrapper">

                    <input type="hidden" value="" name="oriValue" id="oriValue">

                    <label for="checkout_name" class="field__label">Value</label>
                    <input id="valueM" name="value" type="text" placeholder="Value" class="field__input"  pattern="^(?:(?=.{1,}$)\d{1,3}(?:,\d{3})+|(.{1,}$)\d+)$" required  data-type="number" autocomplete="off" disabled/>

                </div>

            </div>
            <div class="row insuranceButtonMarginTop">
                <div style="float: left;width: 100%;" class="row step__footer">

                    <button class="step__footer__continue-btn btn " type="submit" name="button">
                        <span class="btn__content">Process</span>
                    </button>

                </div>
            </div>
        </form>
    </div>
    <div class="bottomInfor">
        * Note - Information provided must be true.
    </div>


</div>




