<!DOCTYPE html>
<html lang="en">
    <head>
        <% include templates/head.ejs%>
    </head>
    <body>
        <div class="container-fluid">
            <% include templates/header.ejs%>

            <div id="fullpage">
                <div class="section landingScreen active" id="section0">
                    <div class="op_blue"></div>
                    <div class="row">
                        <div class="container">
                            <div class="col-md-12 mrnone">

                            </div>
                        </div>
                    </div>
                    <div class="hidden_loder animatedParent">
                        <div class="container">
                            <div class="formarea repeat0 animated fadeInUp">
                                <div class="indicator">
                                    <div class="moscot"></div>
                                    <div class="moscot_hand"></div>
                                </div>
                                <div class="leftTab">
                                    <ul>
                                        <li onclick="changeFun(1)" ><a class="car active" href="#"><img src="/static/images/section_one_sidebar_tab_icon/car_vehicle.png" /><br><span class="ul_lft">Motor Vehicle</span></a></li>
                                        <li onclick="changeFun(2)" ><a class="twowheeler"  href="#" ><img src="/static/images/section_one_sidebar_tab_icon/motorcycle.png" /><br><span class="ul_lft">Motor bike</span></a></li>
                                        <li onclick="changeFun(3)" ><a class="health"  href="#"><img src="/static/images/section_one_sidebar_tab_icon/three_wheeler.png" /><br><span class="ul_lft">Three Wheeler</span></a></li>
                                        <li><a class="travel" href="#"><img src="/static/images/section_one_sidebar_tab_icon/travel.png" /><br><span class="ul_lft">Travel</span></a></li>
                                        <li><a class="investment" href="#"><img src="/static/images/section_one_sidebar_tab_icon/investment.png" /><br><span class="ul_lft">Investment <div>(FD & Savings)</div></span></a></li>
                                        <li><a class="term" href="#"><img src="/static/images/section_one_sidebar_tab_icon/lease.png" /><br><span class="ul_lft">Lease/Loans</span></a></li>
                                    </ul>
                                    <div class="content_box health_bg" style="display: none;"><div class="arrow"></div>
                                        <h3 class="text-center"><strong>Three</strong> Wheeler</h3>
                                        <ul class="info_list">
                                            <li>Widest choice of insurers</li>
                                            <li>Best prices</li>
                                            <li>Experienced relationship manager</li>
                                            <li>Dedicated claims assistance</li>
                                            <li>Cashless settlement at nearest garage</li>
                                            <li>Free road side assistance *</li>
                                        </ul>
                                        <div class="tc text-right">&nbsp;</div>
                                    </div>
                                    <div class="content_box term_bg" style="display: none;"><div class="arrow"></div>
                                        <h3 class="text-center"><strong>Term Life</strong> Insurance</h3>
                                        <h6 class="text-center">Compare 34 plans from 16 insurers &amp; save up to 50%</h6>
                                        <ul class="info_list">
                                            <li>Awarded India's #1 financial website*</li>
                                            <li>Over 12,12,535 families secured</li>
                                            <li>Free 365 day support</li>
                                            <li>1500+ advisors helping you compare &amp; buy</li>
                                        </ul>
                                        <div class="tc text-right">* By IAMAI in 2013 &amp; 2014</div>
                                    </div>
                                    <div class="content_box investment_bg" style="display: none;"><div class="arrow"></div>
                                        <h3 class="text-center invlblhead"><strong>Investment </strong> Plans</h3>
                                        <h6 class="text-center invlblsubhead">Get the best investment options to maximize your wealth.</h6>
                                        <ul class="info_list">
                                            <li>Avail tax benefits on your investments.</li>
                                            <li> Get the dual advantage of return on investment &amp; protection.</li>
                                            <li>1500+ advisors to help you compare &amp; buy.</li>
                                            <li>365 days customer support</li>
                                        </ul>
                                    </div>
                                    <div class="content_box car_bg" style="display: block;"><div class="arrow"></div>
                                        <h3 class="text-center"><strong>Car</strong> Insurance</h3>
                                        <ul class="info_list">
                                            <li>Widest choice of insurers</li>
                                            <li>Best prices</li>
                                            <li>Experienced relationship manager</li>
                                            <li>Dedicated claims assistance</li>
                                            <li>Cashless settlement at nearest garage</li>
                                            <li>Free road side assistance *</li>
                                        </ul>
                                        <div class="tc text-right">&nbsp;</div></div>
                                    <div class="content_box travel_bg" style="display: none;">
                                        <div class="arrow"></div>
                                        <h3 class="text-center"><strong>Travel</strong> Insurance</h3>
                                        <ul class="info_list">
                                            <li>Cashless hospitalization</li>
                                            <li>Coverage for baggage loss</li>
                                            <li>Wide range of cover &ndash; up to $1 million </li>
                                            <li>Cover starting from 260*</li>
                                        </ul>
                                        <div class="tc text-right">&nbsp;</div>
                                    </div>
                                    <div class="content_box twowheeler_bg" style="display: none;"><div class="arrow"></div>
                                        <h3 class="text-center"><strong>Two Wheeler</strong> Insurance</h3>
                                        <ul class="info_list">
                                            <li>Renew expired policy online, instantly</li>
                                            <li>Widest choice of insurers</li>
                                            <li>Best prices</li>
                                            <li>Experienced relationship manager</li>
                                            <li>Dedicated claims assistance</li>
                                            <li>Cashless settlement at nearest garage</li>
                                            <li>Free road side assistance *</li>
                                        </ul>
                                        <div class="tc text-right">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="rightTab" style="display: block;">
                                    <div class="box_value">
                                        <div class="health-bg active">
                                            <form action="/vehicleReg" method="post" id="vForm3">
                                                <div class="input_field">
                                                    <div class="lable"><img src="/static/images/Section_one_inner_tab_icon/number_plate.png" /></div>
                                                    <div class="info"><span class="b">Reg No.</span></div>
                                                    <div class="inputBox dobBox">
                                                        <select id="RegistrationNumberProvince2" name="VProvince" >
                                                            <option value=""></option>
                                                            <option value="WP">WP</option>
                                                            <option value="NP">NP</option>
                                                            <option value="SP">SP</option>

                                                        </select>
                                                        <input type="text" id="RegistrationNumberLetter2" name="VLetters" placeholder="CAD" pattern="[a-zA-Z0-9]{2,3}" required maxlength="3" minlength="2" style="text-transform: uppercase"/>
                                                        <input type="text" id="RegistrationNumberNumber2" name="VNumber" placeholder="1234" pattern="[0-9]{4,4}" required maxlength="4" minlength="4"/>
                                                    </div>

                                                    <input type="hidden" value="3" name="VType" id="type_of_v2">

                                                </div>
                                                <div class="rush"><span>OR</span></div>
                                                <div class="inrush"><span>In a Rush ?</span></div>
                                                <div class="upload-drop-zone has-tooltip" id="drop-zone">
                                                    Just drag and drop files here
                                                    <span class="tooltip">
                                                        <span data-cvv-tooltip="unknown">
                                                            Upload a scanned image or a photograph of document requested
                                                        </span>
                                                    </span>
                                                </div>

                                                <!-- Upload Finished -->
                                                <div class="js-upload-finished">
                                                    <ul class="list-group">
                                                        <li class="has-tooltip">
                                                            <img src="/static/images/home_warp-logo.svg"/>
                                                            <span class="tooltip">
                                                                <span data-cvv-tooltip="unknown">
                                                                    Upload a scanned image or a photograph of document requested
                                                                </span>
                                                            </span>
                                                        </li>
                                                        <li class="has-tooltip">
                                                            <img src="/static/images/home_warp-logo.svg"/>
                                                            <span class="tooltip">
                                                                <span data-cvv-tooltip="unknown">
                                                                    Upload a scanned image or a photograph of document requested
                                                                </span>
                                                            </span>
                                                        </li>
                                                        <li class="has-tooltip">
                                                            <img src="/static/images/home_warp-logo.svg"/>
                                                            <span class="tooltip">
                                                                <span data-cvv-tooltip="unknown">
                                                                    Upload a scanned image or a photograph of document requested
                                                                </span>
                                                            </span>
                                                        </li>
                                                        <li class="has-tooltip">
                                                            <img src="/static/images/home_warp-logo.svg"/>
                                                            <span class="tooltip">
                                                                <span data-cvv-tooltip="unknown">
                                                                    Upload a scanned image or a photograph of document requested
                                                                </span>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="input_field pro">
                                                    <button type class="proceed" id="btnSubmitTerm">Proceed</button>
                                                    <div class="process">
                                                        <span class="loading style-1"></span>
                                                    </div>
                                                    <div class="err"></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <!--==========================-->
                                    <div class="term-bg">

                                            <div class="tabs">
                                                <div class="tab term_first">
                                                    <input type="radio" checked="" value="1" name="tab-group-1" id="tab-1">
                                                    <label for="tab-1">Housing</label>
                                                </div>

                                                <div class="tab term_second">
                                                    <input type="radio" value="3" name="tab-group-1" id="tab-3">
                                                    <label for="tab-3">Vehicle</label>
                                                </div>
                                            </div>
                                            <div class="termBox_first">

                                                <form action="/housingLoan" method="post" id="formHousingLoan">

                                                    <div class="input_field growth_f invForm">
                                                        <div class="lable cover" style="vertical-align: middle;"><img src="/static/images/Section_one_inner_tab_icon/house_hold_income.png" /></div>
                                                        <div id="invLabel" class="info"><span class="b">Property Value</span> </div>
                                                        <div class="inputBox"><input type="text" maxlength="11" value="" placeholder="Amount" data-msg="Amount should be between " data-max="200000" data-min="10000" id="housingValue" name="housingValue"> <span class="fig_lbl none" id="inv_lbl"></span></div>
                                                        <div id="inverr" class="err"></div>
                                                    </div>


                                                    <div class="input_field growth_f invForm">
                                                        <div class="lable cover" style="vertical-align: middle;"><img src="/static/images/Section_one_inner_tab_icon/living_expenses.png" /></div>
                                                        <div id="invLabel" class="info"><span class="b">Requesting Amount</span> </div>
                                                        <div class="inputBox"><input type="text" maxlength="11" value="" placeholder="Amount" data-msg="Amount should be between " data-max="200000" data-min="10000" id="reqLoanAmount" name="reqLoanAmount"> <span class="fig_lbl none" id="inv_lbl"></span></div>
                                                        <div id="inverr" class="err"></div>
                                                    </div>

                                                    <div class="input_field invForm" id="invTermSelect">
                                                        <div class="lable dob" style="vertical-align: middle;"><img src="/static/images/Section_one_inner_tab_icon/dependants.png" /></div>
                                                        <div class="info"><span class="b">Loan Duration</span></div>
                                                        <div class="inputBox">
                                                            <select id="loanPeriodHousing" name="loanPeriodHousing"><option value="">Loan Period (in years)</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="25">25</option><option value="30">30</option></select>
                                                        </div>
                                                        <div id="invdoberr" class="err"></div>
                                                    </div>


                                                    <div class="input_field invForm" id="invTermSelect">
                                                        <div class="lable dob" style="vertical-align: middle;"><img src="/static/images/Section_one_inner_tab_icon/dependants.png" /></div>
                                                        <div class="info"><span class="b">Defined Rate</span></div>
                                                        <div class="inputBox">
                                                            <select id="rateType" name="rateType">
                                                                <option value="">Select a rate option</option>
                                                                <option value="fixed">Fixed</option>
                                                                <option value="floating">Floating</option>
                                                            </select>
                                                        </div>
                                                        <div id="invdoberr" class="err"></div>
                                                    </div>

                                                    <div class="lable need-amount"></div>
                                                    <input type="hidden" value="1" id="investmentType" name="investmentType">
                                                    <input type="hidden" value="" id="invneedgrowthamt" name="invneedgrowthamt">

                                                    <div class="input_field pro">
                                                        <button type="submit" class="proceed" id="btnSubmitTerm">Proceed</button>

                                                        <div class="process">
                                                            <span class="loading style-1"></span>
                                                        </div>
                                                        <div class="err"></div>
                                                    </div>

                                                </form>
                                            </div>
                                            <div class="termBox_second" style="display: none;">

                                                <form action="/vehicleLease" method="post" id="formVehicaleLease">

                                                    <div class="input_field growth_f invForm">
                                                        <div class="lable cover" style="vertical-align: middle;"><img src="/static/images/Section_one_inner_tab_icon/value_vehicale.png" /></div>
                                                        <div id="invLabel" class="info"><span class="b">Vehicle Value</span> </div>
                                                        <div class="inputBox"><input type="text" maxlength="11" value="" placeholder="Amount" data-msg="Amount should be between " data-max="200000" data-min="10000" id="vehicaleValueLease" name="vehicaleValueLease" required> <span class="fig_lbl none" id="inv_lbl"></span></div>
                                                        <div id="inverr" class="err"></div>
                                                    </div>

                                                    <div class="input_field growth_f invForm">
                                                        <div class="lable cover"><img src="/static/images/Section_one_inner_tab_icon/down_payment.png" /></div>
                                                        <div id="invLabel" class="info"><span class="b">Down Payment</span> </div>
                                                        <div class="inputBox has-tooltip">
                                                            <input type="text" maxlength="11" value="" placeholder="Amount" data-msg="Amount should be between " data-max="200000" data-min="10000" id="downPaymentLease" name="downPaymentLease" required> <span class="fig_lbl none" id="inv_lbl"></span>
                                                            <span class="tooltip">
                                                                <span data-cvv-tooltip="unknown">
                                                                    30% of value
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <div id="inverr" class="err"></div>
                                                    </div>

                                                    <div class="input_field invForm" id="invTermSelect">
                                                        <div class="lable dob" style="vertical-align: middle;"><img src="/static/images/Section_one_inner_tab_icon/length_lease.png" /></div>
                                                        <div class="info"><span class="b">Length of Lease</span></div>
                                                        <div class="inputBox">
                                                            <select id="lengthOfLease" name="lengthOfLease" required><option value="">Months</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="25">25</option><option value="30">30</option></select>
                                                        </div>
                                                        <div id="invdoberr" class="err"></div>
                                                    </div>


                                                    <div class="input_field invForm" id="invTermSelect">
                                                        <div class="lable dob" style="vertical-align: middle;"><img src="/static/images/Section_one_inner_tab_icon/length_lease.png" /></div>
                                                        <div class="info"><span class="b">Vehicle Reg. Status</span></div>
                                                        <div class="inputBox">
                                                            <select id="leaseVehicleStatus" name="leaseVehicleStatus" required>
                                                                <option value="">Status</option>
                                                                <option value="registered">Registered</option>
                                                                <option value="unregistered">Unregistered</option>
                                                            </select>
                                                        </div>
                                                        <div id="invdoberr" class="err"></div>
                                                    </div>


                                                    <div class="lable need-amount"></div>
                                                    <input type="hidden" value="1" id="investmentType" name="investmentType">
                                                    <input type="hidden" value="" id="invneedgrowthamt" name="invneedgrowthamt">


                                                    <div class="input_field pro">
                                                        <button type="submit" class="proceed" id="btnSubmitTerm">Proceed</button>

                                                        <div class="process">
                                                            <span class="loading style-1"></span>
                                                        </div>
                                                        <div class="err"></div>
                                                    </div>

                                                </form>

                                            </div>


                                    </div>
                                    <!--==========================-->
                                    <div class="investment-bg growth">
                                        <form action="/investments" method="post" id="formFD">
                                            <div class="tabs">
                                                <div class="tab investment_first">
                                                    <input type="radio" checked="" value="1" name="investmentType1" id="investmentType1">
                                                    <label for="investmentType1">FD</label>
                                                </div>

                                                <div class="tab investment_second">
                                                    <input type="radio" value="3" name="investmentType1" id="investmentType2">
                                                    <label for="investmentType2">Savings</label>
                                                </div>
                                            </div>
                                            <div class="investmentBox_first">
                                                <div class="input_field growth_f invForm">
                                                    <div class="lable cover"><img src="/static/images/Section_one_inner_tab_icon/Rs.png" /></div>
                                                    <div id="invLabel" class="info"><span class="b">Amount</span> </div>
                                                    <div class="inputBox"><input type="text" maxlength="11" value="" placeholder="Amount" data-msg="Amount should be between " data-max="200000" data-min="10000" id="FDAmount" name="FDAmount" required> <span class="fig_lbl none" id="inv_lbl"></span></div>
                                                    <div id="inverr" class="err"></div>
                                                </div>

                                                <div class="input_field invForm" id="invTermSelect">
                                                    <div class="lable dob" style="vertical-align: middle;"><img src="/static/images/Section_one_inner_tab_icon/period.png" /></div>
                                                    <div class="info"><span class="b">Period</span></div>
                                                    <div class="inputBox">
                                                        <select id="FDtime" name="FDtime" required><option value="">Years you want to invest</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="25">25</option><option value="30">30</option></select>
                                                    </div>
                                                    <div id="invdoberr" class="err"></div>
                                                </div>

                                                <div class="input_field invForm">
                                                    <div class="lable dob" style="vertical-align: middle;"><img src="/static/images/Section_one_inner_tab_icon/dob.png" /></div>
                                                    <div class="info"><span class="b">DOB</span></div>
                                                    <div class="inputBox dobBox">
                                                        <div class='input-group date' id='dobFixedDiposit' >
                                                            <input id="dobFD" name="dobFD" type='text' class="field__input readonly" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="Start Date"  required  autocomplete="off" />
                                                            <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </span>
                                                        </div>
                                                    </div>
                                                    <div class="err"></div>
                                                </div>

                                                <div class="input_field growth_f invForm">
                                                    <div class="lable cover"><img src="/static/images/Section_one_inner_tab_icon/NIC.png" /></div>
                                                    <div id="invLabel" class="info"><span class="b">NIC</span></div>
                                                    <div class="inputBox"><input type="text" maxlength="11" value="" pattern="[0-9]{9}[vVxX]" placeholder="NIC" data-msg="Amount should be between " data-max="200000" data-min="10000" id="FDNIC" name="FDNIC" required> <span class="fig_lbl none" id="inv_lbl"></span></div>
                                                    <div id="inverr" class="err"></div>
                                                </div>
                                                <div class="lable need-amount"></div>
                                                <input type="hidden" value="1" id="investmentType" name="investmentType">
                                                <input type="hidden" value="" id="invneedgrowthamt" name="invneedgrowthamt">


                                                <div class="input_field pro">
                                                    <button type="submit" class="proceed" id="btnSubmitTerm">Proceed</button>

                                                    <div class="process">
                                                        <span class="loading style-1"></span>
                                                    </div>
                                                    <div class="err"></div>
                                                </div>

                                            </div>
                                        </form>
                                            <div class="investmentBox_second" style="display: none;">
                                                <div class="input_field growth_f invForm">
                                                    <div class="lable cover" style="vertical-align: middle;"><img src="/static/images/Section_one_inner_tab_icon/Rs.png" /></div>
                                                    <div id="invLabel" class="info"><span class="b">Amount</span> </div>
                                                    <div class="inputBox"><input type="text" maxlength="11" value="" placeholder="Amount" data-msg="Amount should be between " data-max="200000" data-min="10000" id="invamount" name="invamount"> <span class="fig_lbl none" id="inv_lbl"></span></div>
                                                    <div id="inverr" class="err"></div>
                                                </div>

                                                <div class="input_field invForm periodbox" id="invTermSelect">
                                                    <div class="lable dob" style="vertical-align: middle;"><img src="/static/images/Section_one_inner_tab_icon/period.png" /></div>
                                                    <div class="info"><span class="b">Period</span></div>
                                                    <div class="inputBox dates">
                                                        <label>From</label>
                                                        <input id="fromDate" name="fromDate" type='text' placeholder="From" required/>

                                                    </div>
                                                    <div class="inputBox dates">
                                                        <label>To</label>
                                                        <input id="toDate" name="toDate" type='text' placeholder="To" required/>

                                                    </div>
                                                    <div id="invdoberr" class="err"></div>
                                                </div>



                                                <div class="lable need-amount"></div>
                                                <input type="hidden" value="1" id="investmentType" name="investmentType">
                                                <input type="hidden" value="" id="invneedgrowthamt" name="invneedgrowthamt">


                                                <div class="input_field pro">
                                                    <button type="submit" class="proceed" id="btnSubmitTerm">Proceed</button>

                                                    <div class="process">
                                                        <span class="loading style-1"></span>
                                                    </div>
                                                    <div class="err"></div>
                                                </div>

                                            </div>

                                        <!--<div class="nextBox_sec">
                                        <a href="javascript:void(0);" class="back_to"><i class="fa fa-long-arrow-left"></i> Click Here for Previous Screen</a>

                                        <div class="input_field changeMargin">
                                          <div class="lable cover"><i class="fa fa-user-plus iconpos "></i></div>
                                          <div class="info" id="invLabel"><span class="b">Name</span></div>
                                          <div class="inputBox">
                                                <select name="invgender" id="invgender" class="select30_per"><option value="1">Mr.</option><option value="2">Ms.</option></select>
                                                <input type="text" class="input60_per" name="invname" id="invname" data-msg="Please enter your name" placeholder="Name">
                                                </div>
                                          <div class="err"></div>
                                        </div>
                                        <div class="input_field changeMargin ">
                                        <div class="lable cover"><i class="fa fa-envelope-o iconpos"></i></div>
                                        <div class="info" id="invLabel"><span class="b">Email</span></div>
                                        <div class="inputBox">
                                          <input type="text" name="invemail" id="invemail" data-msg="Please enter your email address" placeholder="Amount" value="50,000" >
                                          </div>
                                        <div class="err"></div>
                                      </div>

                                        <div class="input_field changeMargin">
                                          <div class="lable dob"><i class="fa fa-globe iconpos "></i></div>
                                          <div class="info"><span class="b">Country</span></div>
                                          <div class="inputBox">
                                                <select name="invcountrycode"  id="invcountrycode" class="select40_per"><option>India</option></select>
                                                <input type="text" class="input60_per" name="invcity" id="invcity" placeholder="City">
                                          </div>
                                          <div class="err"></div>
                                        </div>
                                        <div id="invAge" class="input_field changeMargin dis_none">
                                          <div class="lable cover"><i class="fa fa-calendar iconpos "></i></div>
                                          <div class="info" id="invDobAge"><i class="fa fa-child iconpos "></i></div>
                                          <div class="inputBox">
                                                <input type="text" name="invage" id="invage" placeholder="Age" onkeyup="ageValidation(this);" >
                                          </div>
                                          <div id="invageerr" class="err"></div>
                                        </div>

                                        <div class="input_field changeMargin">

                                          <div class="lable cover"><i class="fa fa-mobile-phone fa-2x iconpos"></i></div>
                                            <div class="info" id="invLabel"><span class="b">Mobile</span></div>
                                            <div class="inputBox">
                                            <span class="countryCode_formobile select30_per">+999</span>
                                              <input type="text" name="invamount" id="invamount" data-min="10000" data-max="200000" data-msg="Allowed total investment from" placeholder="Amount" value="50,000" class="input60_per" >
                                            </div>
                                            <div class="err" id="inverr"></div>

                                        </div>
                                        <input type="hidden" name="cityId" id="cityId" value="" />
                                        <input type="hidden" name="stateId" id="stateId" value="" />
                                        <div class="input_field pro"> <a href="javascript:void(0);" class="invproceed proceed">Get Free Quotes</a><div class="process"><span class="loading style-1"></span><span>Please Wait...</span></div></div>
                                </div>-->
                                    </div>
                                    <!--==========================-->
                                    <div class="travel-bg group">

                                        <form action="/groupTravel" method="post" id="validateFormGroupTravel">
                                            <div class="tabs">


                                                <div class="tab singleTravel">
                                                    <input type="radio" checked="" value="2" id="travellerType2" name="travellerType">
                                                    <label for="travellerType2">Single Person</label>
                                                </div>

                                                <div class="tab familyTravel">
                                                    <input type="radio" value="1" id="travellerType1" name="travellerType">
                                                    <label for="travellerType1">Family or Group</label>

                                                </div>
                                            </div>
                                            <div class="familyTravel_first" style="display: none;">

                                                <div class="input_field invForm" id="invTermSelect">
                                                    <div class="lable dob" style="vertical-align: middle;"><img src="/static/images/Section_one_inner_tab_icon/travellers.png" /></div>
                                                    <div class="info"><span class="b">No of People </span></div>
                                                    <div class="inputBox">
                                                        <select id="travelGroupNumber" name="travelGroupNumber" required><option value="">No of People</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="25">25</option><option value="30">30</option></select>
                                                    </div>
                                                    <div id="invdoberr" class="err"></div>
                                                </div>
                                                <div class="input_field invForm" id="invTermSelect">
                                                    <div class="lable dob"><img src="/static/images/Section_one_inner_tab_icon/email.png" /></div>
                                                    <div class="info"><span class="b">Email</span></div>
                                                    <div class="inputBox">
                                                        <input id="emailGroup" name="emailGroup" type='email' placeholder="Email" required/>
                                                    </div>
                                                    <div id="invdoberr" class="err"></div>
                                                </div>
                                                <div class="input_field ">
                                                    <div class="lable" style="vertical-align: middle;"><img src="/static/images/Section_one_inner_tab_icon/calendar.png" /></div>
                                                    <div class="info"><span class="b">Length of travel</span></div>
                                                    <div class="inputBox dates" id="departureGroup">
                                                        <label>Departure</label>
                                                        <input id="startdate" name="startdate" type='text' placeholder="Departure" required/>
                                                    </div>
                                                    <div class="inputBox dates">
                                                        <label>Arrival</label>
                                                        <input id="enddate" name="enddate" type='text' placeholder="Arrival" required/>
                                                        <span class="fig_lbl days" id="traveldate_lbl">0<p>Days</p></span>
                                                    </div>
                                                    <div id="invdoberr" class="err"></div>
                                                </div>

                                                <div class="input_field pro">
                                                    <button type="submit" class="proceed" id="btnSubmitTerm">Proceed</button>

                                                    <div class="process">
                                                        <span class="loading style-1"></span>
                                                    </div>
                                                    <div class="err"></div>
                                                </div>
                                            </div>

                                            </form>
                                            <div class="familyTravel_second" >
                                                <form action="/singleTravel" method="post" id="formTravelSingle">
                                                    <div class="input_field invForm">
                                                        <div class="lable dob" style="vertical-align: middle;"><img src="/static/images/Section_one_inner_tab_icon/dob.png" /></div>
                                                        <div class="info"><span class="b">DOB</span></div>
                                                        <div class="inputBox dobBox">
                                                            <div class='input-group date' id='dobTravelInsurance' >
                                                                <input id="dobTravel" name="dobTravel" type='text' class="field__input readonly" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="Start Date"  required  autocomplete="off" />
                                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="err"></div>
                                                    </div>
                                                    <div class="input_field invForm" id="invTermSelect">
                                                        <div class="lable dob"><img src="/static/images/Section_one_inner_tab_icon/email.png" /></div>
                                                        <div class="info"><span class="b">Email</span></div>
                                                        <div class="inputBox">
                                                            <input id="singleTravelEmail" name="singleTravelEmail" type='text' placeholder="Email" required/>
                                                        </div>
                                                        <div id="invdoberr" class="err"></div>
                                                    </div>

                                                    <div class="input_field invForm" id="invTermSelect">
                                                        <div class="lable dob" style="vertical-align: middle;"><img src="/static/images/Section_one_inner_tab_icon/type_of_cover.png" /></div>
                                                        <div class="info"><span class="b">Type of Cover</span></div>
                                                        <div class="inputBox">
                                                            <select id="typeOfCoverSingleTrip" name="typeOfCoverSingleTrip" required="">
                                                                <option value="">Type of Cover</option>
                                                                <% for(var z = 0; z < travel_types.length; z++) { %>
                                                                <option value="<%= travel_types[z].id %>"><%= travel_types[z].travel_type %></option>
                                                                <% } %>
                                                            </select>
                                                        </div>
                                                        <div id="invdoberr" class="err"></div>
                                                    </div>

                                                    <div class="input_field pro">
                                                        <button type="submit" class="proceed" id="btnSubmitTerm">Proceed</button>

                                                        <div class="process">
                                                            <span class="loading style-1"></span>
                                                        </div>
                                                        <div class="err"></div>
                                                    </div>
                                                </form>
                                            </div>

                                    </div>
                                    <!--==========================-->
                                    <div class="car-bg">
                                        <form action="/vehicleReg" method="post" id="vForm">
                                            <div class="input_field">
                                                <div class="lable"><img src="/static/images/Section_one_inner_tab_icon/number_plate.png" /></div>
                                                <div class="info"><span class="b">Reg No.</span></div>
                                                <div class="inputBox dobBox">
                                                    <select id="RegistrationNumberProvince" name="VProvince">
                                                        <option value=""></option>
                                                        <option value="WP">WP</option>
                                                        <option value="NP">NP</option>
                                                        <option value="SP">SP</option>
                                                    </select>
                                                    <input type="text" id="RegistrationNumberLetter" name="VLetters" placeholder="CAD" pattern="[a-zA-Z0-9]{2,3}" required maxlength="3" minlength="2" style="text-transform: uppercase"/>
                                                    <input type="text" id="RegistrationNumberNumber" name="VNumber" placeholder="1234" pattern="[0-9]{4,4}" required maxlength="4" minlength="4"/>
                                                </div>

                                                <input type="hidden" value="1" name="VType" id="type_of_v">

                                            </div>
                                            <div class="rush"><span>OR</span></div>
                                            <div class="inrush"><span>In a Rush ?</span></div>
                                            <div class="upload-drop-zone has-tooltip" id="drop-zone">
                                                Just drag and drop files here
                                                <span class="tooltip">
                                                    <span data-cvv-tooltip="unknown">
                                                        Upload a scanned image or a photograph of document requested
                                                    </span>
                                                </span>
                                            </div>

                                        <!-- Upload Finished -->
                                            <div class="js-upload-finished">
                                                <ul class="list-group">
                                                    <li class="has-tooltip">
                                                            <img src="/static/images/home_warp-logo.svg"/>
                                                            <span class="tooltip">
                                                                <span data-cvv-tooltip="unknown">
                                                                    Upload a scanned image or a photograph of document requested
                                                                </span>
                                                            </span>
                                                        </li>
                                                        <li class="has-tooltip">
                                                            <img src="/static/images/home_warp-logo.svg"/>
                                                            <span class="tooltip">
                                                                <span data-cvv-tooltip="unknown">
                                                                    Upload a scanned image or a photograph of document requested
                                                                </span>
                                                            </span>
                                                        </li>
                                                        <li class="has-tooltip">
                                                            <img src="/static/images/home_warp-logo.svg"/>
                                                            <span class="tooltip">
                                                                <span data-cvv-tooltip="unknown">
                                                                    Upload a scanned image or a photograph of document requested
                                                                </span>
                                                            </span>
                                                        </li>
                                                        <li class="has-tooltip">
                                                            <img src="/static/images/home_warp-logo.svg"/>
                                                            <span class="tooltip">
                                                                <span data-cvv-tooltip="unknown">
                                                                    Upload a scanned image or a photograph of document requested
                                                                </span>
                                                            </span>
                                                        </li>
                                                </ul>
                                            </div>
                                            <div class="input_field pro">
                                                <button type class="proceed" id="btnSubmitTermCar">Proceed</button>

                                                <div class="process">
                                                    <span class="loading style-1"></span>
                                                </div>
                                                <div class="err"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="category">
                        <ul class="cate">
                            <li><a class="cc" href="#" ><span>Cancer Insurance</span></a></li>
                            <li><a class="hi" href="#"><span>Home Insurance</span></a></li>
                            <li><a class="ci" href="#"><span>Critical Illness</span></a></li>
                            <li><a class="tx" href="#"><span>Tax Saving</span></a></li>
                            <li><a class="re" href="#"><span>Retirement</span></a></li>
                            <li><a class="ch" href="#"><span>Child</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="section made_easy" id="section1">
                    <div class='container'>
                        <div class="col-md-12 text-center animatedParent topMainPadding">
                            <h1 id="made_easy" class="repeatl animated fadeInLeft block">Insurance Made Easy</h1>
                            <h4 class="repeatll animated fadeInRight block">Save Your Monkey</h4>
                            <ul class="core-cards animatedParent" id="core-card-hp">
                                <li class="card">
                                    <a href="#" class='comp'>
                                        <div class="repeat animated growIn slow"  data-id='1' style="display: block;">
                                            <img src="/static/images/insurance_made_easy_icon/big_car_icon.png">
                                        </div>
                                        <h3 class="repeat  animated fadeIn slow"  data-id='1'> Compare 250+ plans </h3>
                                        <p class="repeat animated fadeIn slow"  data-id='1'>to save upto 30%</p>
                                    </a>
                                </li>
                                <li class="card">
                                    <a href="#"  class='supp'>
                                        <div class="repeat animated growIn slow"  data-id='2' style="display: block;">
                                            <img src="/static/images/insurance_made_easy_icon/calculator.png">
                                        </div>
                                        <h3 class="repeat animated fadeIn slow"  data-id='2'>Always at your service</h3>
                                        <p class="repeat animated fadeIn slow"  data-id='2'>Toll Free - 1800-103-3999</p>
                                    </a>
                                </li>
                                <li class="card">
                                    <a href="#" class='target'>
                                        <div class="repeat animated growIn slow"  data-id='3' style="display: block;">
                                            <img src="/static/images/insurance_made_easy_icon/cheat_sheet.png">
                                        </div>
                                        <h3 class="repeat animated fadeIn slow"  data-id='3'>Over 10L Crore</h3>
                                        <p class="repeat animated fadeIn slow"  data-id='3'> Cover provided.</p>
                                    </a>
                                </li>
                                <li class="card">
                                    <a href="#" class='moneyback'>
                                        <div class="repeat animated growIn slow" data-id='4' style="display: block;">
                                            <img src="/static/images/insurance_made_easy_icon/danger_icon.png">
                                        </div>
                                        <h3 class="repeat animated fadeIn slow" data-id='4' >Cancellation Support</h3>
                                        <p class="repeat animated fadeIn slow" data-id='4' >Full support for cancellations and endorsements</p>
                                    </a>
                                </li>
                                <li class="card">
                                    <a href="#" class='people'>
                                        <div class="repeat animated growIn slow" data-id='5'  style="display: block;">
                                            <img src="/static/images/insurance_made_easy_icon/no_claims_bonus.png">
                                        </div>
                                        <h3 class="repeat animated fadeIn slow"  data-id='5' >962 People</h3>
                                        <p class="repeat animated fadeIn slow"  data-id='5' >Currently comparing online</p>
                                    </a>
                                </li>
                                <li class="card">
                                    <a href="#" class='finance'>
                                        <div class="repeat animated growIn slow"  data-id='6' >
                                            <img src="/static/images/insurance_made_easy_icon/SYM_icon.png">
                                        </div>
                                        <h3 class="repeat animated fadeIn slow"  data-id='6' >IAMAI'S best financial </h3>
                                        <p class="repeat animated fadeIn slow"  data-id='6' >Website award, 2013-14</p>
                                    </a>
                                </li>

                            </ul>
                            <div aria-hidden="false" class="uk-text-center uk-margin-large">
                                <a class="uk-button uk-button-primary uk-button-large brandbuttonlarge" href="../../../../Desktop/untitled%20folder/SYM/public/src/views/brand.html">
                                    More FAQs
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section animatedParent" id="section2">
                    <div class="topMainPaddingVideo">
                        <video class="repeatv animated fadeInDownShort" poster="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.jpg" muted="muted" autoplay style="width: 1583px; height: auto; visibility: visible;">
                            <source type="video/mp4" data-src="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.mp4"></source>
                            <source type="video/webm" data-src="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.webm"></source>
                        </video>
                        <a class="btn-circle" href="../../../../Desktop/untitled%20folder/SYM/public/src/views/portfolio.html">
                            view<br>
                            work
                            <hr>
                        </a>
                    </div>
                </div>
                <div class="section" id="section3">
                    <div class="testimonials animatedParent topMainPadding">
                        <div class="grid-container">
                            <div class="marginBottomTest">
                                <div class="uk-text-center">
                                    <h1 class="repeatl2 animated fadeInLeft block">
                                        What Our Users Say
                                    </h1>
                                    <h4 class="repeatl21 animated fadeInRight block">Save Your Monkey</h4>
                                </div>
                            </div>
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                            <div class="col-md-12" style="margin-bottom: 20px;">
                                <div class="col-md-6 testimonialPaddingBottom repeatl6 animated fadeInLeft">
                                    <div class="col-sm-12" style="clear:both;">
                                        <div class="col-sm-3">
                                            <div class="testimonial-avatar">
                                                <img src="https://atomic.io/assets/images/avatars/vijay.fadd496c.jpg" class="testimonial-image">
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <h4 class="uk-text-primary uk-text-center-small"> Charles Bitton </h4>
                                            <p class="uk-text-muted uk-text-small uk-text-center-small"> Head of Marketplace User Experience <br/> IBM</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <p class="uk-text-large uk-text-center-small">
                                            <i class="uk-icon-quote-left uk-text-primary"></i>
                                            I love how quickly I can design an interface and automatically create intelligent animated transitions.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 testimonialPaddingBottom repeatl7 animated fadeInRight">
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <div class="testimonial-avatar">
                                                <img src="https://atomic.io/assets/images/avatars/davidbuck.4c473e6f.jpg" class="testimonial-image">
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <h4 class="uk-text-primary uk-text-center-small"> David Buck </h4>
                                            <p class="uk-text-muted uk-text-small uk-text-center-small"> Design Director <br/> BNZ</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <p class="uk-text-large uk-text-center-small">
                                            <i class="uk-icon-quote-left uk-text-primary"></i> Having prototyping that is so fast and easy changed my design process. I could experiment with more ideas, spot problems quickly, and ultimately produce better results, faster.
                                        </p>
                                    </div>
                                </div>
                            </div>
                                    </li>
                                    <li>
                                        <div class="col-md-12" aria-hidden="true">
                                <div class="col-md-6 testimonialPaddingBottom">
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <div class="testimonial-avatar">
                                                <img src="https://atomic.io/assets/images/avatars/vijay.fadd496c.jpg" class="testimonial-image">
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <h4 class="uk-text-primary uk-text-center-small"> Vijay Prabhakar </h4>
                                            <p class="uk-text-muted uk-text-small uk-text-center-small"> Interaction Designer <br/> IDEO</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <p class="uk-text-large uk-text-center-small">
                                            <i class="uk-icon-quote-left uk-text-primary"></i>
                                            Really impressive approach to a currently siloed and broken model of interactive prototyping. I can think of a bunch of projects that I could have used this on that might have saved me days of work!
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 testimonialPaddingBottom">
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <div class="testimonial-avatar">
                                                <img src="https://atomic.io/assets/images/avatars/benjennings.59e4fcaf.jpg" class="testimonial-image">
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <h4 class="uk-text-primary uk-text-center-small"> Ben Jennings </h4>
                                            <p class="uk-text-muted uk-text-small uk-text-center-small"> Product Designer <br/> Coinbase</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <p class="uk-text-large uk-text-center-small">
                                            <i class="uk-icon-quote-left uk-text-primary"></i> Atomic allows me to explore and validate ideas quickly, and helps others to understand them more easily.
                                        </p>
                                    </div>
                                </div>
                                    </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="grid-row span_h1"></div>
                    </div>
                </div>
                <div class="section animatedParent" id="section4">
                    <div class="container topMainPadding">
                        <h1 class="repeatl animated fadeInLeft block go" id="made_easy">Value Added Services</h1>
                        <h4 class="repeatll animated fadeInRight block go">Save Your Monkey</h4>
                        <ul id="core-card-hp" class="core-cards animatedParent">
                            <li class="card">
                                <a class="comp" href="#">
                                    <div style="display: block;" data-id="1" class="repeat animated growIn slow go">
                                        <img src="/static/images/Value_added_services_icon/lubricants.png">
                                    </div>
                                    <h3 data-id="1" class="repeat  animated fadeIn slow go"> Lubricants </h3>
                                    <p data-id="6" class="repeat animated fadeIn slow go">Website award, 2013-14</p>
                                </a>
                            </li>
                            <li class="card">
                                <a class="supp" href="#">
                                    <div style="display: block;" data-id="2" class="repeat animated growIn slow go">
                                        <img src="/static/images/Value_added_services_icon/tyres.png">
                                    </div>
                                    <h3 data-id="2" class="repeat animated fadeIn slow go">Tyres</h3>
                                    <p data-id="6" class="repeat animated fadeIn slow go">Website award, 2013-14</p>
                                </a>
                            </li>
                            <li class="card">
                                <a class="target" href="#">
                                    <div style="display: block;" data-id="3" class="repeat animated growIn slow go">
                                        <img src="/static/images/Value_added_services_icon/repair.png">
                                    </div>
                                    <h3 data-id="3" class="repeat animated fadeIn slow go">Repair</h3>
                                    <p data-id="6" class="repeat animated fadeIn slow go">Website award, 2013-14</p>
                                </a>
                            </li>
                            <li class="card">
                                <a class="moneyback" href="#">
                                    <div style="display: block;" data-id="4" class="repeat animated growIn slow go">
                                        <img src="/static/images/Value_added_services_icon/mobile_battery_service.png">
                                    </div>
                                    <h3 data-id="4" class="repeat animated fadeIn slow go">Mobile Battery Service</h3>
                                    <p data-id="6" class="repeat animated fadeIn slow go">Website award, 2013-14</p>
                                </a>
                            </li>
                            <li class="card">
                                <a class="people" href="#">
                                    <div style="display: block;" data-id="5" class="repeat animated growIn slow go">
                                        <img src="/static/images/Value_added_services_icon/towing.png">
                                    </div>
                                    <h3 data-id="5" class="repeat animated fadeIn slow go">Towing</h3>
                                    <p data-id="6" class="repeat animated fadeIn slow go">Website award, 2013-14</p>
                                </a>
                            </li>
                            <li class="card">
                                <a class="finance" href="#">
                                    <div data-id="6" class="repeat animated growIn slow go">
                                        <img src="/static/images/Value_added_services_icon/car_grooming.png">
                                    </div>
                                    <h3 data-id="6" class="repeat animated fadeIn slow go">Car grooming/ washing </h3>
                                    <p data-id="6" class="repeat animated fadeIn slow go">Website award, 2013-14</p>
                                </a>
                            </li>

                        </ul>
                        <div aria-hidden="false" class="uk-text-center uk-margin-large">
                            <a class="uk-button uk-button-primary uk-button-large brandbuttonlarge" href="src/views/brand.html">
                                View More
                            </a>
                        </div>
                    </div>
                </div>
                <div id="section5" class="section animatedParent homepage_footer">
                    <% include templates/footer.ejs%>
                </div>

            </div>
        </div>

        <% include templates/jsLibs.ejs %>

        <script type="text/javascript">

            //$('select').select2();

            function changeFun(id){
                if(id==1){
                    document.getElementById("type_of_v").value=1;

                }else if(id==2){
                    document.getElementById("type_of_v").value=2;

                }else{
                    document.getElementById("type_of_v").value=3;
                }


            }





            var Province    =   document.getElementById('RegistrationNumberProvince');
            var Letter      =   document.getElementById("RegistrationNumberLetter");
            var Number      =   document.getElementById("RegistrationNumberNumber");

            var Province2   =   document.getElementById('RegistrationNumberProvince2');
            var Letter2     =   document.getElementById("RegistrationNumberLetter2");
            var Number2     =   document.getElementById("RegistrationNumberNumber2");

            var DobTravelSingle         =   document.getElementById("dobTravel");
            var SingleTravelEmail       =   document.getElementById("singleTravelEmail");
            var SingleTravelTypeOfCover =   document.getElementById("typeOfCover");

            var TravelGroupNumber   =   document.getElementById("travelGroupNumber");
            var EmailGroup          =   document.getElementById("emailGroup");
            var Startdate           =   document.getElementById("startdate");
            var Enddate             =   document.getElementById("enddate");

            var HousingValue    =   document.getElementById("housingValue");
            var ReqLoanAmount   =   document.getElementById("reqLoanAmount");
            var LoanPeriod      =   document.getElementById("loanPeriodHousing");
            var RateType        =   document.getElementById("rateType");

            var VehicaleValueLease  =   document.getElementById("vehicaleValueLease");
            var DownPaymentLease    =   document.getElementById("downPaymentLease");
            var LengthOfLease       =   document.getElementById("lengthOfLease");
            var LeaseVehicleStatus  =   document.getElementById("leaseVehicleStatus");

            var FDAmount    =   document.getElementById("FDAmount");
            var FDTime      =   document.getElementById("FDtime");
            var dobFD       =   document.getElementById("dobFD");
            var FDNIC       =   document.getElementById("FDNIC");

            var formV   =   document.getElementById("vForm");
            var form3w  =   document.getElementById("vForm3");

            var formTravelSingle    =   document.getElementById("formTravelSingle");
            var formTravelGroup     =   document.getElementById("validateFormGroupTravel");


            var formHousingLoan     =   document.getElementById("formHousingLoan");
            var formVehicaleLease   =   document.getElementById("formVehicaleLease");

            var formFD  =   document.getElementById("formFD");

            formV.onsubmit  =   validateFormCar;
            form3w.onsubmit =   validateForm3W;

            formTravelSingle.onsubmit   =   validateFormSingleTravel;
            formTravelGroup.onsubmit    =   validateFormGroupTravel;

            formHousingLoan.onsubmit    =   validationFormHousingLoan;
            formVehicaleLease.onsubmit  =   validationFormVehicaleLease;

            formFD.onsubmit  =  validationformFD;





            function validationformFD() {

                var idPattern=/^[0-9]{9}[vVxX]$/;

                return (validator.isNumeric(FDAmount.value)
                        && (+FDAmount.value>0)
                        && validator.isNumeric(FDTime.value)
                        && (+FDTime.value>0)
                        && moment(dobFD.value, "DD/MM/YYYY", true).isValid()
                        && strMatch(FDNIC.value,idPattern)

                );



            }



            function validationFormVehicaleLease() {

                return (validator.isNumeric(VehicaleValueLease.value)
                        && (+VehicaleValueLease.value>0)
                        && validator.isNumeric(DownPaymentLease.value)
                        && (+DownPaymentLease.value>0)
                        && (+DownPaymentLease.value < +VehicaleValueLease.value)
                        && validator.isNumeric(LengthOfLease.value)
                        && (+LengthOfLease.value>0)
                        && ((LeaseVehicleStatus.value=="registered") || (LeaseVehicleStatus.value=="unregistered"))

                );



            }


            function validationFormHousingLoan() {

                return (validator.isNumeric(HousingValue.value)
                        && validator.isNumeric(ReqLoanAmount.value)
                        && (+ReqLoanAmount.value < +HousingValue.value)
                        && validator.isNumeric(LoanPeriod.value)
                        && (+LoanPeriod.value>0)
                        && ((RateType.value=="fixed") || (RateType.value=="floating"))

                );

            }

            function validateFormSingleTravel() {

                return (moment(DobTravelSingle.value, "DD/MM/YYYY", true).isValid()
                        && validator.isEmail(SingleTravelEmail.value)
                        && validator.isNumeric(SingleTravelTypeOfCover.value)
                        && (SingleTravelTypeOfCover.value>0)
                );


            }

            function validateFormGroupTravel() {

                return (
                        moment(Startdate.value, "DD/MM/YYYY", true).isValid()
                        && moment(Enddate.value, "DD/MM/YYYY", true).isValid()
                        && validator.isEmail(EmailGroup.value)
                        && validator.isNumeric(TravelGroupNumber.value)
                        && (TravelGroupNumber.value>0)
                );
                
            }

            function validateFormCar() {

                return (validator.isAlpha(Province.value)
                        && validator.isByteLength(Province.value,{min:2,max:2})
                        && validator.isUppercase(Province.value)
                        && validator.isAlphanumeric(Letter.value)
                        && validator.isByteLength(Letter.value,{min:2,max:3})
                        && validator.isNumeric(Number.value)
                        && validator.isByteLength(Number.value,{min:4,max:4})
                );


            }

            function validateForm3W() {

                return (validator.isAlpha(Province2.value)
                        && validator.isByteLength(Province2.value,{min:2,max:2})
                        && validator.isUppercase(Province2.value)
                        && validator.isAlphanumeric(Letter2.value)
                        && validator.isByteLength(Letter2.value,{min:2,max:3})
                        && validator.isNumeric(Number2.value)
                        && validator.isByteLength(Number2.value,{min:4,max:4})
                );


            }


            InvalidInputHelper(Province, {
                defaultText: "Please enter an province !",
                emptyText: "Please enter an province !",
                invalidText: function (input) {
                    return 'The province "' + input.value + '" is invalid!';
                }
            });


            InvalidInputHelper(Letter, {
                defaultText: "Please enter an Letter !",
                emptyText: "Please enter an Letter !",
                invalidText: function (input) {
                    return 'The Letter "' + input.value + '" is invalid!';
                }
            });

            InvalidInputHelper(Number, {
                defaultText: "Please enter an Number !",
                emptyText: "Please enter an Number !",
                invalidText: function (input) {
                    return 'The Number "' + input.value + '" is invalid!';
                }
            });

            InvalidInputHelper(Province2, {
                defaultText: "Please enter an province !",
                emptyText: "Please enter an province !",
                invalidText: function (input) {
                    return 'The province "' + input.value + '" is invalid!';
                }
            });


            InvalidInputHelper(Letter2, {
                defaultText: "Please enter an Letter !",
                emptyText: "Please enter an Letter !",
                invalidText: function (input) {
                    return 'The Letter "' + input.value + '" is invalid!';
                }
            });

            InvalidInputHelper(Number2, {
                defaultText: "Please enter an Number !",
                emptyText: "Please enter an Number !",
                invalidText: function (input) {
                    return 'The Number "' + input.value + '" is invalid!';
                }
            });




            $('#RegistrationNumberProvince').bind('input propertychange ', function() {
                //$('#output').html($(this).val());

                if(validator.isByteLength($(this).val(),{min:2,max:2})){
                    Letter.focus();
                }

            });


            $('#RegistrationNumberLetter').bind('input propertychange ', function() {
                //$('#output').html($(this).val());

                if(validator.isByteLength($(this).val(),{min:3,max:3})){
                    Number.focus();
                }

            });



            $('#RegistrationNumberNumber').bind('input propertychange ', function() {
                //$('#output').html($(this).val());

                if(validator.isByteLength($(this).val(),{min:4,max:4})){
                    carButton.focus();
                }


            });

            $('#RegistrationNumberProvince2').bind('input propertychange ', function() {
                //$('#output').html($(this).val());

                if(validator.isByteLength($(this).val(),{min:2,max:2})){
                    Letter.focus();
                }

            });


            $('#RegistrationNumberLetter2').bind('input propertychange ', function() {
                //$('#output').html($(this).val());

                if(validator.isByteLength($(this).val(),{min:3,max:3})){
                    Number.focus();
                }

            });



            $('#RegistrationNumberNumber2').bind('input propertychange ', function() {
                //$('#output').html($(this).val());

                if(validator.isByteLength($(this).val(),{min:4,max:4})){
                    carButton.focus();
                }

            });






        </script>



    </body>
</html>
