<div class="container-fluid">
    <div class="site-footer ">
        <div class="grid-row">
            <header class="col-md-3">
                <div class="site-footer__logo">
                    <img style='' src="/static/images/footer_monkey.png"/>
                </div>
            </header>
            <div class="col-md-2">
                <h3 class="site-footer__block-title">Our Work</h3>

                <nav class="nav nav--secondary">
                    <ul class="nav__items">
                        <li class="nav__item"><a href="#">Motion Array</a></li>
                        <li class="nav__item"><a href="#">Herself</a></li>
                        <li class="nav__item"><a href="#">Five Simple Steps</a></li>
                        <li class="nav__item"><a href="#">Tribal</a></li>
                        <li class="nav__item"><a href="#">oozled</a></li>
                        <li class="nav__item"><a href="#">PH Museum</a></li>
                        <li class="nav__item"><a href="#">Charity Bank</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-2 add_cmn">
                <h3 class="site-footer__block-title">Our Details</h3>
                <p class="site-footer__contact-details">

                                        <span id="sproutencodeemail-5763af77a11b4-1"><a href="mailto:info@saveyourmonkey.com
                                                                                        ">info@saveyourmonkey.com
                                            </a></span>
                    +94 (011) 438 6230
                </p>
                <p class="two_line" style="margin-bottom: 10px;">Level 1, Liberty Arcade,
                    Colombo 03, Sri Lanka.</p>
                <p><img src="/static/images/Section_one_inner_tab_icon/address.png" /> We're based in UK.</p>
                <ul class="social">
                    <li class="social__item"><a title="Follow on Twitter" target="_blank" href="#"><img src="/static/images/Section_one_inner_tab_icon/twitter.png" /></a></li>
                    <li class="social__item"><a title="Like on Facebook" target="_blank" href="#"><img src="/static/images/Section_one_inner_tab_icon/facebook.png" /></a></li>
                    <li class="social__item"><a title="Design snippets on Dribbble" target="_blank" href="#"><img src="/static/images/Section_one_inner_tab_icon/pinterest.png" /></a></li>
                    <li class="social__item"><a title="Photos on Instagram" target="_blank" href="#"><img src="/static/images/Section_one_inner_tab_icon/instagram.png" /></a></li>
                </ul>
            </div>
            <div class="col-md-4" id='contactid'>
                <form method="post">
                    <ul>
                        <li>
                            <input type="text" id="nameH" name="nameH" class="required" placeholder="Name">
                        </li><li>
                            <input type="text" id="emailH" name="emailH" class="required" placeholder="Email">
                        </li><li>
                            <input type="text" id="website" name="website" placeholder="Website">
                        </li><li>
                            <input type="text" id="country" name="country" placeholder="Country/Location">
                        </li><li>
                            <textarea id="messageH" name="messageH" class="required" placeholder="Describe your project"></textarea>
                        </li><li>
                            <input type="button" style="cursor: pointer;" class="btn btn-blue big animated" onclick="submitProject()" value="Submit" id="projectSubmitButton">
                        </li></ul>
                </form>

            </div>
        </div>
    </div>
    <div class="site-footer__company-info">
        <p>&copy; Copyright 2015 - 2016 All Right Reserved</p>
    </div>
</div>