<div class="fix_hd">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="/static/images/mainlogo.png"/></a>
        </div>
        <a id="nav-full-toggle" class="nav-hamburger" href="#">
            <span></span>
        </a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="menu" class="nav navbar-nav">
                <li class="active" data-menuanchor="firstPage">
                    <a href="#firstPage">
                        <img src="/static/images/menu_icon_size/calculator.png" /><br>
                        <span>Quote</span>
                    </a>
                </li>
                <li data-menuanchor="secondPage"><a href="#secondPage">
                        <img src="/static/images/menu_icon_size/faq_icon.png" /><br>
                        <span>FAQ</span>
                    </a></li>
                <li data-menuanchor="3rdPage"><a href="#3rdPage">
                        <img src="/static/images/menu_icon_size/video_icon.png" /><br>
                        <span>MEDIA</span>
                    </a></li>
                <li data-menuanchor="4thPage"><a href="#4thPage">
                        <img src="/static/images/menu_icon_size/users.png" /><br>
                        <span>USERS</span>
                    </a></li>
                <li data-menuanchor="5thPage"><a href="#5thPage">
                        <img src="/static/images/menu_icon_size/fantastic_sign.png" /><br>
                        <span>Value</span>
                    </a></li>
                <li data-menuanchor="6thPage"><a href="#6thPage">
                        <img src="/static/images/menu_icon_size/Contact.png" /><br>
                        <span>CONTACT</span>
                    </a></li>
                <li data-menuanchor=""><a href="#">
                        <img src="/static/images/menu_icon_size/SYM.png" /><br>
                        <span>LOGIN</span>
                    </a></li>
            </ul>
        </div>

    </nav>
</div>
<nav id="nav-full" class="layer-change" style="display: none;">
    <ul style="margin-top: 90px;">
        <li class="mobile-tablet-true" data-menuanchor="firstPage">
            <a href="#firstPage">
                <img src="/static/images/menu_icon_size/calculator.png" /><br>
                <span>Quote</span>
            </a>
        </li>
        <li class="mobile-tablet-true" data-menuanchor="secondPage"><a href="#secondPage"><img src="/static/images/menu_icon_size/faq_icon.png" /><br>
                <span>FAQ</span></a></li>
        <li class="mobile-tablet-true" data-menuanchor="3rdPage"><a href="#3rdPage"><img src="/static/images/menu_icon_size/video_icon.png" /><br>
                <span>MEDIA</span></a></li>
        <li class="mobile-tablet-true" data-menuanchor="4thPage"><a href="#4thPage"><img src="/static/images/menu_icon_size/users.png" /><br>
                <span>USERS</span></a></li>
        <li class="mobile-tablet-true" data-menuanchor="5thPage"><a href="#5thPage"><img src="/static/images/menu_icon_size/fantastic_sign.png" /><br>
                <span>Value</span></a></li>
        <li class="mobile-tablet-true" data-menuanchor="6thPage"><a href="#6thPage"><img src="/static/images/menu_icon_size/Contact.png" /><br>
                <span>CONTACT</span></a></li>
        <li class="mobile-tablet-true" data-menuanchor="6thPage"><a href="#6thPage"><img src="/static/images/menu_icon_size/SYM.png" /><br>
                <span>LOGIN</span></a></li>
    </ul>
</nav>