<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SYM</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../css/jquery.fullPage.css" />
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap-select.min.css"/>
        <link rel="stylesheet" type="text/css" href="../../css/animations.css" />
        <link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/uikit.min.css" />
        <!--<link rel="stylesheet" type="text/css" href="../../css/videobackground.css" />-->
        <link rel="stylesheet" type="text/css" href="../../css/style.css" />
        <link rel="stylesheet" type="text/css" href="../../css/format.css" />
        <link rel="stylesheet" type="text/css" href="../../css/custom.css" />


    </head>
    <body>
        <div class="container-fluid">
            <div class="fix_hd">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><img src="../../images/logo.svg"/></a>
                    </div>
                    <a id="nav-full-toggle" class="nav-hamburger" href="#">
                        <span></span>
                    </a>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul id="menu" class="nav navbar-nav">
                            <li class="active" data-menuanchor="firstPage">                                
                                <a href="#firstPage">
                                    <i class="icon icon-block icon-48 first-section-image"></i>
                                    <span>First</span>
                                </a>
                            </li>
                            <li data-menuanchor="secondPage"><a href="#secondPage"><i class="icon icon-block icon-48 first-section-image"></i><span>Second</span></a></li>
                            <li data-menuanchor="3rdPage"><a href="#3rdPage"><i class="icon icon-block icon-48 first-section1-image"></i><span>Third</span></a></li>
                            <li data-menuanchor="4thPage"><a href="#4thPage"><i class="icon icon-block icon-48 first-section2-image"></i><span>Fourth</span></a></li>
                            <li data-menuanchor="5thPage"><a href="#5thPage"><i class="icon icon-block icon-48 first-section-image"></i><span>Fifth</span></a></li>
                            <li data-menuanchor="6thPage"><a href="#6thPage"><i class="icon icon-block icon-48 first-section1-image"></i><span>Sixth</span></a></li>
                        </ul>                        
                    </div>

                </nav>
            </div>
            <nav id="nav-full" class="layer-change" style="display: none;">
                <ul style="margin-top: 90px;">
                    <li class="mobile-tablet-true" data-menuanchor="firstPage">                                
                        <a href="#firstPage">
                            <i class="icon icon-block icon-48 first-section-image"></i>
                            <span>First</span>
                        </a>
                    </li>
                    <li class="mobile-tablet-true" data-menuanchor="secondPage"><a href="#secondPage"><i class="icon icon-block icon-48 first-section-image"></i><span>Second</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="3rdPage"><a href="#3rdPage"><i class="icon icon-block icon-48 first-section1-image"></i><span>Third</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="4thPage"><a href="#4thPage"><i class="icon icon-block icon-48 first-section2-image"></i><span>Fourth</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="5thPage"><a href="#5thPage"><i class="icon icon-block icon-48 first-section-image"></i><span>Fifth</span></a></li>
                    <li class="mobile-tablet-true" data-menuanchor="6thPage"><a href="#6thPage"><i class="icon icon-block icon-48 first-section1-image"></i><span>Sixth</span></a></li>
                </ul>
            </nav>
            <div class="insurance_info topMainPadding">
                <div class="insurance_text">
                    Car Insurance
                </div>
                <ul class="breadcrumb ">
                    <li class="breadcrumb__item breadcrumb__item--current">
                        Vehicle Details
                    </li>
                    <li class="breadcrumb__item breadcrumb__item--blank">
                        Personal Data
                    </li>
                    <li class="breadcrumb__item breadcrumb__item--blank">
                        Insurance Info
                    </li>
                </ul>
                <div id="vehicle_detail" class="vehicle_detail_bg">
                    <form id="vehicle_detail_id" name="vehicle_detail" action="">
                        <div class="row">
                            <div class="field field--required field--three-eights field--show-floating-label">
                                <div class="field__input-wrapper field__input-wrapper--select">
                                    <label for="checkout_shipping_address_country" class="field__label">Make</label>
                                    <select name="make" class="field__input field__input--select" required>
                                        <option value="">Select Make</option>
                                        <option value="Ketchup">Ketchup</option>
                                        <option value="Relish">Relish</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field field--required field--three-eights field--show-floating-label">
                                <div class="field__input-wrapper field__input-wrapper--select">
                                    <label for="checkout_shipping_address_country" class="field__label">Model</label>
                                    <select name="model" class="field__input field__input--select" required>
                                        <option value="">Select Model</option>
                                        <option value="Ketchup">Ketchup</option>
                                        <option value="Relish">Relish</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field field--required field--three-eights field--show-floating-label">
                                <div class="field__input-wrapper field__input-wrapper--select">
                                    <label for="checkout_shipping_address_country" class="field__label">Year</label>
                                    <select name="year" class="field__input field__input--select" required>
                                        <option value="">Select Year</option>
                                        <option value="2016">2016</option>
                                        <option value="2015">2015</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field field--required field--three-eights field--show-floating-label">
                                <div class="field__input-wrapper field__input-wrapper--select">
                                    <label for="checkout_shipping_address_country" class="field__label">Value</label>
                                    <select name="value" class="field__input field__input--select" required>
                                        <option value="">Select Value</option>
                                        <option value="Ketchup">Ketchup</option>
                                        <option value="Relish">Relish</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row"> 
                            <button class="step__footer__continue-btn btn " type="submit" name="button">
                                <span class="btn__content">Process</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div id="personal_detail" class="vehicle_detail_bg" style="display: none;">
                    <form id="personal_detail_id" name="personal_detail" action="">
                        <div class="row">
                            <input id="name" name="name" type="text" placeholder="Name" class="textbox" required />
                        </div>
                        <div class="row">
                            <input id="email" name="email" type="text" placeholder="Email" class="textbox" required />
                        </div>
                        <div class="row">
                            <input id="mobile" name="mobile" type="text" placeholder="Mobile" class="textbox" required />
                        </div>
                        <div class="row">
                            <input id="nic" name="nic" type="text" placeholder="NIC" class="textbox" required />
                        </div>
                        <div class="row"> 
                            <button class="step__footer__continue-btn btn " type="submit" name="button">
                                <span class="btn__content">Process</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div id="insurance_detail" class="vehicle_detail_bg" style="display: none;">
                    <form id="insurance_detail_id" name="insurance_detail" action="">
                        <div class="row">
                            <div class="field field--required field--three-eights field--show-floating-label">
                                <div class="field__input-wrapper field__input-wrapper--select">
                                    <label for="checkout_shipping_address_country" class="field__label">No Claims Bonus</label>
                                    <select name="noclaimbonus" class="field__input field__input--select" required>
                                        <option value="">Select No Claims Bonus</option>
                                        <option value="Ketchup">Ketchup</option>
                                        <option value="Relish">Relish</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field field--required field--three-eights field--show-floating-label">
                                <div class="field__input-wrapper field__input-wrapper--select">
                                    <label for="checkout_shipping_address_country" class="field__label">Current Insurer</label>
                                    <select id="currentinsurer" class="field__input field__input--select" required>
                                        <option value="">Select Current Insurer</option>
                                        <option value="Ketchup">Ketchup</option>
                                        <option value="Relish">Relish</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field field--required field--three-eights field--show-floating-label">
                                <div class="field__input-wrapper field__input-wrapper--select">
                                    <label for="checkout_shipping_address_country" class="field__label">Cover Type Required</label>
                                    <select id="covertyperequired" class="field__input field__input--select" required>
                                        <option value="">Select Cover Type Required</option>
                                        <option value="Ketchup">Ketchup</option>
                                        <option value="Relish">Relish</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field field--required field--three-eights field--show-floating-label">
                                <div class="field__input-wrapper field__input-wrapper--select">
                                    <label for="checkout_shipping_address_country" class="field__label">Start Date</label>
                                    <select id="startdate" class="field__input field__input--select" required>
                                        <option value="">Select Start Date</option>
                                        <option value="Ketchup">Ketchup</option>
                                        <option value="Relish">Relish</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field field--required field--three-eights field--show-floating-label">
                                <div class="field__input-wrapper field__input-wrapper--select">
                                    <label for="checkout_shipping_address_country" class="field__label">Voluntary Excess</label>
                                    <select id="vouluntaryexcess" class="field__input field__input--select" required>
                                        <option value="">Select Voluntary Excess</option>
                                        <option value="Ketchup">Ketchup</option>
                                        <option value="Relish">Relish</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field field--required field--three-eights field--show-floating-label">
                                <div class="field__input-wrapper field__input-wrapper--select">
                                    <label for="checkout_shipping_address_country" class="field__label">Purpose</label>
                                    <select id="purpose" class="field__input field__input--select" required>
                                        <option value="">Select Purpose</option>
                                        <option value="Ketchup">Ketchup</option>
                                        <option value="Relish">Relish</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            Autorise Agent Repair: 
                            <input type="radio" name="Yes" value="1" /> Yes
                            <input type="radio" name="Yes" value="0" /> No
                        </div>
                        <div class="row"> 
                            <button class="step__footer__continue-btn btn " type="submit" name="button">
                                <span class="btn__content">Process</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="te">                
            <div class="section animatedParent">
                <div class="container-fluid">
                    <div class="site-footer ">
                        <div class="grid-row">
                            <header class="col-md-4">
                                <div class="site-footer__logo">
                                    <img style='' src="../../images/logo-footer.png"/>
                                </div>
                            </header>

                            <div class="col-md-2">
                                <h3 class="site-footer__block-title">Company</h3>

                                <nav class="nav nav--secondary">
                                    <ul class="nav__items">
                                        <li class="nav__item"><a href="#">Who We Are</a></li>
                                        <li class="nav__item"><a href="#">What We Do</a></li>
                                        <li class="nav__item"><a href="#">Our Journal</a></li>
                                        <li class="nav__item"><a href="#">Get In Touch</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2">
                                <h3 class="site-footer__block-title">Our Work</h3>

                                <nav class="nav nav--secondary">
                                    <ul class="nav__items">
                                        <li class="nav__item"><a href="#">Motion Array</a></li>
                                        <li class="nav__item"><a href="#">Herself</a></li>
                                        <li class="nav__item"><a href="#">Five Simple Steps</a></li>
                                        <li class="nav__item"><a href="#">Tribal</a></li>
                                        <li class="nav__item"><a href="#">oozled</a></li>
                                        <li class="nav__item"><a href="#">PH Museum</a></li>
                                        <li class="nav__item"><a href="#">Charity Bank</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2 add_cmn">
                                <h3 class="site-footer__block-title">Our Details</h3>
                                <p class="site-footer__contact-details">

                                    <span id="sproutencodeemail-5763af77a11b4-1"><a href="mailto:hello@nodividestudio.com">hello@nodividestudio.com</a></span>
                                    +44 (0) 203 290 1337
                                </p>

                                <p><span class="icon icon--location"></span> We're based in the UK.</p>
                            </div>
                            <div class="col-md-4">

                                <ul class="social">
                                    <li class="social__item"><a title="Follow on Twitter" target="_blank" href="#"><span class="icon icon--twitter"></span></a></li>
                                    <li class="social__item"><a title="Like on Facebook" target="_blank" href="#"><span class="icon icon--facebook"></span></a></li>
                                    <li class="social__item"><a title="Design snippets on Dribbble" target="_blank" href="#"><span class="icon icon--dribbble"></span></a></li>
                                    <li class="social__item"><a title="Photos on Instagram" target="_blank" href="#"><span class="icon icon--instagram"></span></a></li>
                                </ul>                
                                <!--<a href="#" class="js-hidden">Google +</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="site-footer__company-info">
                        <p>&copy; Copyright 2015 - 2016 All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/uikit.min.js"></script>
    <!--<script type="text/javascript" src="../../js/videobackground.js"></script>-->
    <script type="text/javascript" src="../../js/jquery.fullPage.js"></script>
    <script type="text/javascript" src="../../js/css3-animate-it.js"></script>
    <script type="text/javascript" src="../../js/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="../../js/script.js"></script>
    <script>
        $('.selectpicker').selectpicker();
    </script>
</body>
</html>
