<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="../../images/logo.png"/></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul id="menu2" class="nav navbar-nav">
            <li class="active" data-menuanchor="firstPage"><a href="#firstPage">First section</a>
            </li>
            <li data-menuanchor="secondPage"><a href="#secondPage">Second section</a></li>
            <li data-menuanchor="3rdPage"><a href="#3rdPage">Third section</a></li>
            <li data-menuanchor="4thPage"><a href="#4thPage">Fourth section</a></li>
            <li data-menuanchor="5thPage"><a href="#5thPage">Fifth section</a></li>
            <li data-menuanchor="6thPage"><a href="#6thPage">Sixth section</a></li>
        </ul>
    </div>
</nav>