<div class='container'>
    <div class="col-md-12 text-center animatedParent">
        <h1 id="made_easy" class="repeatl animated fadeInLeft block">Insurance Made Easy</h1>
        <h4 class="repeatll animated fadeInRight block">The Policybazaar Way</h4>
        <ul class="core-cards animatedParent" id="core-card-hp">
            <li class="card">
                <a href="#" class='comp'>
                    <div class="info repeat animated growIn slow" data-id='1' style="display: block;"></div>
                    <h3 class="repeat  animated fadeIn slow" data-id='1'> Compare 250+ plans </h3>

                    <p class="repeat animated fadeIn slow" data-id='1'>to save upto 30%</p>
                </a>
            </li>
            <li class="card">
                <a href="#" class='supp'>
                    <div class="repeat info animated growIn slow" data-id='2' style="display: block;"></div>
                    <h3 class="repeat animated fadeIn slow" data-id='2'>Always at your service</h3>

                    <p class="repeat animated fadeIn slow" data-id='2'>Toll Free - 1800-103-3999</p>
                </a>
            </li>
            <li class="card">
                <a href="#" class='target'>
                    <div class="repeat info animated growIn slow" data-id='3' style="display: block;"></div>
                    <h3 class="repeat animated fadeIn slow" data-id='3'>Over 10L Crore</h3>

                    <p class="repeat animated fadeIn slow" data-id='3'> Cover provided.</p>
                </a>
            </li>
            <li class="card">
                <a href="#" class='moneyback'>
                    <div class="repeat info animated growIn slow" data-id='4' style="display: block;"></div>
                    <h3 class="repeat animated fadeIn slow" data-id='4'>Cancellation Support</h3>

                    <p class="repeat animated fadeIn slow" data-id='4'>Full support for cancellations and
                        endorsements</p>
                </a>
            </li>
            <li class="card">
                <a href="#" class='people'>
                    <div class="repeat info animated growIn slow" data-id='5' style="display: block;"></div>
                    <h3 class="repeat animated fadeIn slow" data-id='5'>962 People</h3>

                    <p class="repeat animated fadeIn slow" data-id='5'>Currently comparing online</p>
                </a>
            </li>
            <li class="card">
                <a href="#" class='finance'>
                    <div class="repeat info animated growIn slow" data-id='6'></div>
                    <h3 class="repeat animated fadeIn slow" data-id='6'>IAMAI'S best financial </h3>

                    <p class="repeat animated fadeIn slow" data-id='6'>Website award, 2013-14</p>
                </a>
            </li>

        </ul>
    </div>
</div>
