<div class="testimonials animatedParent">
    <div class="grid-container">
        <div class="col-md-12">
            <div class="grid-col w3 half_on_tablet full_on_mobile lft_dv">
                <div class="square">
                    <img src="https://atomic.io/assets/images/avatars/charlesbitton.d35570fe.jpg"
                         class="full testimonial-hero-avatar repeat2 animated bounceInLeft">
                </div>
            </div>
            <div class="col-md-1 lft_dv">
                <span class="testimonial-hero-quote_marks left_qot">"</span>
            </div>
            <div class="col-md-6 half_on_tablet full_on_mobile lft_dv repeat2 animated bounceInRight">
                <blockquote class="testimonial-hero-text">I love how quickly I can design an interface and
                    automatically create intelligent animated transitions.
                </blockquote>
                <p class="testimonial-hero-from">Charles Bitton <br>Head of Marketplace User Experience<br>IBM
                </p>
            </div>
            <div class="col-md-1 grid-col--spacer lft_dv"></div>
            <div class="col-md-1 lft_dv">
                <span class="testimonial-hero-quote_marks rght_qot">"</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4 grid-col--spacer"></div>
            <div class="col-md-8 testimonials-separator full_on_mobile full_on_tablet"></div>
        </div>
        <div class="col-md-12 test_list">
            <div class="col-md-4 half_on_tablet full_on_mobile">
                <div class="testimonial repeat3 animated fadeInLeft">
                    <div class="testimonial-avatar">
                        <img src="https://atomic.io/assets/images/avatars/davidbuck.4c473e6f.jpg"
                             class="testimonial-image">
                    </div>
                    <blockquote class="testimonial-content"><span class="quote_marks"></span>Having
                        prototyping that is so fast and easy changed my design process. I could experiment
                        with more ideas, spot problems quickly, and ultimately produce better results,
                        faster.
                    </blockquote>
                    <p class="testimonial-from">David Buck <br>Design Director<br>BNZ</p>
                </div>
            </div>
            <div class="col-md-4 half_on_tablet full_on_mobile">
                <div class="testimonial repeat3 animated fadeInUp">
                    <div class="testimonial-avatar">
                        <img src="https://atomic.io/assets/images/avatars/vijay.fadd496c.jpg"
                             class="testimonial-image">
                    </div>
                    <blockquote class="testimonial-content"><span class="quote_marks"></span>Really
                        impressive approach to a currently siloed and broken model of interactive
                        prototyping. I can think of a bunch of projects that I could have used this on that
                        might have saved me days of work!
                    </blockquote>
                    <p class="testimonial-from">Vijay Prabhakar <br>Interaction Designer<br>IDEO</p>
                </div>
            </div>
            <div class="col-md-4 not_mobile_and_tablet">
                <div class="testimonial  repeat3 animated fadeInRight">
                    <div class="testimonial-avatar">
                        <img src="https://atomic.io/assets/images/avatars/benjennings.59e4fcaf.jpg"
                             class="testimonial-image">
                    </div>
                    <blockquote class="testimonial-content"><span class="quote_marks"></span>Atomic allows
                        me to explore and validate ideas quickly, and helps others to understand them more
                        easily.
                    </blockquote>
                    <p class="testimonial-from">Ben Jennings <br>Product Designer <br>Coinbase</p>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-row span_h1"></div>
</div>