<div class="container-fluid">
    <div class="site-footer ">
        <div class="grid-row">
            <header class="col-md-3">
                <div class="site-footer__logo">
                    <img style='width:160px;background: #000000;' src="../../images/logo.png"/>
                </div>
            </header>

            <div class="col-md-2">
                <h3 class="site-footer__block-title">Company</h3>

                <nav class="nav nav--secondary">
                    <ul class="nav__items">
                        <li class="nav__item"><a href="#">Who We Are</a></li>
                        <li class="nav__item"><a href="#">What We Do</a></li>
                        <li class="nav__item"><a href="#">Our Journal</a></li>
                        <li class="nav__item"><a href="#">Get In Touch</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-2">
                <h3 class="site-footer__block-title">Our Work</h3>

                <nav class="nav nav--secondary">
                    <ul class="nav__items">
                        <li class="nav__item"><a href="#">Motion Array</a></li>
                        <li class="nav__item"><a href="#">Herself</a></li>
                        <li class="nav__item"><a href="#">Five Simple Steps</a></li>
                        <li class="nav__item"><a href="#">Tribal</a></li>
                        <li class="nav__item"><a href="#">oozled</a></li>
                        <li class="nav__item"><a href="#">PH Museum</a></li>
                        <li class="nav__item"><a href="#">Charity Bank</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-2 add_cmn">
                <h3 class="site-footer__block-title">Our Details</h3>

                <p class="site-footer__contact-details">

                    <span id="sproutencodeemail-5763af77a11b4-1"><a href="mailto:hello@nodividestudio.com">hello@nodividestudio.com</a></span>
                    +44 (0) 203 290 1337
                </p>

                <p><span class="icon icon--location"></span> We're based in the UK.</p>
            </div>
            <div class="col-md-3">

                <ul class="social">
                    <li class="social__item"><a title="Follow on Twitter" target="_blank" href="#"><span
                                    class="icon icon--twitter"></span></a></li>
                    <li class="social__item"><a title="Like on Facebook" target="_blank" href="#"><span
                                    class="icon icon--facebook"></span></a></li>
                    <li class="social__item"><a title="Design snippets on Dribbble" target="_blank"
                                                href="#"><span class="icon icon--dribbble"></span></a></li>
                    <li class="social__item"><a title="Photos on Instagram" target="_blank" href="#"><span
                                    class="icon icon--instagram"></span></a></li>
                </ul>
                <!--<a href="#" class="js-hidden">Google +</a>-->
            </div>
        </div>
    </div>
    <div class="site-footer__company-info">
        <p>&copy; Copyright 2015 - 2016 All Right Reserved</p>
    </div>
</div>