<div class="container">
    <h4 class="repeat4 animated fadeInDown">Brands we've worked for</h4>
    <ul class="row brands-list repeat5 animated growIn" id="brand-list-about">
        <li class="col-md-3 col-sm-3 col-xs-6">
            <img width="160" alt="AnchorFree" src="../../images/logos/logo_anchorfree1.png">
        </li>
        <li class="col-md-3 col-sm-3 col-xs-6">
            <img width="160" alt="Federated Media" src="../../images/logos/logo_federated_media.png">
        </li>
        <li class="col-md-3 col-sm-3 col-xs-6">
            <img width="160" alt="Fastweb" src="../../images/logos/logo_fastweb.png">
        </li>
        <li class="col-md-3 col-sm-3 col-xs-6">
            <img width="160" alt="Swatch" src="../../images/logos/logo_swatch1.png">
        </li>
        <li class="col-md-3 col-sm-3 col-xs-6">
            <img width="160" alt="Vodafone" src="../../images/logos/logo_vodafone1.png">
        </li>
        <li class="col-md-3 col-sm-3 col-xs-6">
            <img width="160" alt="Cisco" src="../../images/logos/logo_cisco.png">
        </li>
        <li class="col-md-3 col-sm-3 col-xs-6">
            <img width="160" alt="The Needs" src="../../images/logos/logo_theneeds1.png">
        </li>
        <li class="col-md-3 col-sm-3 col-xs-6">
            <img width="160" alt="Parmalat" src="../../images/logos/logo_parmalat.png">
        </li>
        <li class="col-md-3 col-sm-3 col-xs-6">
            <img width="160" alt="Fineco" src="../../images/logos/logo_fineco1.png">
        </li>
        <li class="col-md-3 col-sm-3 col-xs-6">
            <img width="160" alt="Intesa Sanpaolo" src="../../images/logos/logo_intesa_sanpaolo1.png">
        </li>
        <li class="col-md-3 col-sm-3 col-xs-6">
            <img width="160" alt="Valentino" src="../../images/logos/logo_valentino.png">
        </li>
        <li class="col-md-3 col-sm-3 col-xs-6">
            <img width="160" alt="DeLonghi" src="../../images/logos/logo_delonghi.png">
        </li>
    </ul>
</div>