<div class="input_field">
    <div class="lable"><i class="fa fa-car iconpos "></i></div>
    <div class="info"><span class="b">No Claim Bonus</span></div>
    <div class="inputBox">
        <div id="termBirthday">
            <fieldset class="birthdayPicker">
                <select name="" class="select30_per birthDate span2">
                    <option value=""></option>
                </select>
                <input type="hidden" name="termBirthday_birthDay" class="birthDay">
            </fieldset>
        </div>
    </div>
    <div class="err"></div>
</div>

<div class="input_field">
    <div class="lable"><i class="fa fa-car iconpos "></i></div>
    <div class="info"><span class="b">Current Insurer</span></div>
    <div class="inputBox">
        <div id="termBirthday">
            <fieldset class="birthdayPicker">
                <select name="" class="select30_per birthDate span2">
                    <option value=""></option>
                </select><input type="hidden" name="termBirthday_birthDay" class="birthDay">
            </fieldset>
        </div>
    </div>
    <div class="err"></div>
</div>

<div class="input_field">
    <div class="lable"><i class="fa fa-calendar iconpos "></i></div>
    <div class="info"><span class="b">Cover Type Required</span></div>
    <div class="inputBox">
        <div id="termBirthday">
            <fieldset class="birthdayPicker">
                <select name="" class="select30_per birthDate span2">
                    <option value=""></option>
                </select><input type="hidden" name="termBirthday_birthDay" class="birthDay">
            </fieldset>
        </div>
    </div>
    <div class="err"></div>
</div>
<div class="input_field">
    <div class="lable"><i class="fa fa-calendar iconpos "></i></div>
    <div class="info"><span class="b">Year</span></div>
    <div class="inputBox">
        <div id="termBirthday">
            <fieldset class="birthdayPicker">
                <select name="" class="select30_per birthDate span2">
                    <option value=""></option>
                </select><input type="hidden" name="termBirthday_birthDay" class="birthDay">
            </fieldset>
        </div>
    </div>
    <div class="err"></div>
</div>
<div class="input_field">
    <div class="lable"><i class="fa fa-calendar iconpos "></i></div>
    <div class="info"><span class="b">Year</span></div>
    <div class="inputBox">
        <div id="termBirthday">
            <fieldset class="birthdayPicker">
                <select name="" class="select30_per birthDate span2">
                    <option value=""></option>
                </select>
            </fieldset>
        </div>
    </div>
    <div class="err"></div>
</div>

<div class="input_field">
    <div class="lable"><i class="fa fa-dollar iconpos "></i></div>
    <div class="info"><span class="b">Start Date</span></div>
    <div class="inputBox">
        <input type="date" id=""
               placeholder="500000">
    </div>
    <div class="err"></div>
</div>