<div class="input_field">
    <div class="lable"><i class="fa fa-user iconpos "></i></div>
    <div class="info"><span class="b">Name</span></div>
    <div class="inputBox">
        <input type="text" id="" name="name">
    </div>

    <div class="err"></div>
</div>

<div class="input_field">
    <div class="lable"><i class="fa fa-envelope iconpos "></i></div>
    <div class="info"><span class="b">Email</span></div>
    <div class="inputBox">
        <input type="email" id="" name="email">
    </div>
    <div class="err"></div>
</div>
<div class="input_field">
    <div class="lable"><i class="fa fa-phone iconpos "></i></div>
    <div class="info"><span class="b">Phone</span></div>
    <div class="inputBox">
        <input type="email" id="" name="phone">
    </div>

    <div class="err"></div>
</div>
<div class="input_field">
    <div class="lable"><i class="fa fa-user iconpos "></i></div>
    <div class="info"><span class="b">NIC</span></div>
    <div class="inputBox">
        <input type="email" id="" name="nic">
    </div>

    <div class="err"></div>
</div>
<div class="input_field pro">
    <button class="btn btn-group btn-danger" ><- Back</button>
    <button class="btn btn-group btn-primary" >Proceed -></button>
</div>