<div class="input_field">
    <div class="lable"><i class="fa fa-motorcycle iconpos "></i></div>
    <div class="info"><span class="b">Reg No.</span></div>
    <div class="inputBox">
        <input type="text" id="twoWheelerRegistrationNumber"
               placeholder="E.G. DL01AB1234">
    </div>
    <a id="btntwSubmit" class="nextstep">next</a>

    <div class="process">
        <span class="loading style-1"></span>
    </div>
    <div class="err"></div>
</div>
<div class="dontKnow">
    <a class="do_not" href="http://tw.policybazaar.com/?donot=yes">Don't Know
        Registration No.</a>
</div>
<div class="rush"><span>OR</span></div>
<div class="inrush"><span>In a Rush ?</span></div>
<a class="upload_item" href="#login-box">Upload your Insurance</a>