<%- layout('../form') %>

<div class="insurance_info topMainPadding">
    <div class="insurance_text">
        Single Trip
    </div>
    <ul class="breadcrumbc">
        <li class="breadcrumb__item breadcrumb__item--current">
            Travel Information
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Personal Information
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Quotation
        </li>
    </ul>

    <div id="single_trip_quotation_detail" class="vehicle_detail_bg" style="display: none;">
        <form id="single_trip_quation_info_id" name="personal_detail" action="">
            <div class="row quoteColor">
                <div class="col-lg-3 quoteColor_wrapper">
                    <select name="">
                        <option selected="">Select Insurance ...</option>
                        <option>Company 1</option>
                        <option>Company 2</option>
                    </select>
                </div>
                <div class="col-lg-1">
                                <span id="credit_card_verification_value_tooltip" tabindex="0" class="field__icon icon icon--question has-tooltip" role="tooltip">
                                    <img src="../../images/globe@2x.png"/>
                                    <span class="tooltip">
                                        <span data-cvv-tooltip="unknown">
                                            3-digit security code usually found on the back of your card. American Express cards have a 4-digit code located on the front.
                                        </span>
                                        <span data-cvv-tooltip="amex" class="hidden">
                                            4-digit security code on the front of your card
                                        </span>
                                        <span data-cvv-tooltip="other" class="hidden">
                                            3-digit security code on the back of your card
                                        </span>
                                    </span>
                                </span>
                </div>
                <div class="col-lg-1">
                                <span id="credit_card_verification_value_tooltip" tabindex="0" class="field__icon icon icon--question has-tooltip" role="tooltip">
                                    <img src="../../images/ecosystem@2x.png"/>
                                    <span class="tooltip">
                                        <span data-cvv-tooltip="unknown">
                                            3-digit security code usually found on the back of your card. American Express cards have a 4-digit code located on the front.
                                        </span>
                                        <span data-cvv-tooltip="amex" class="hidden">
                                            4-digit security code on the front of your card
                                        </span>
                                        <span data-cvv-tooltip="other" class="hidden">
                                            3-digit security code on the back of your card
                                        </span>
                                    </span>
                                </span>

                </div>
                <div class="col-lg-1">
                                <span id="credit_card_verification_value_tooltip" tabindex="0" class="field__icon icon icon--question has-tooltip" role="tooltip">
                                    <img src="../../images/cards@2x.png"/>
                                    <span class="tooltip">
                                        <span data-cvv-tooltip="unknown">
                                            3-digit security code usually found on the back of your card. American Express cards have a 4-digit code located on the front.
                                        </span>
                                        <span data-cvv-tooltip="amex" class="hidden">
                                            4-digit security code on the front of your card
                                        </span>
                                        <span data-cvv-tooltip="other" class="hidden">
                                            3-digit security code on the back of your card
                                        </span>
                                    </span>
                                </span>

                </div>
                <div class="col-lg-1">
                                <span id="credit_card_verification_value_tooltip" tabindex="0" class="field__icon icon icon--question has-tooltip" role="tooltip">
                                    <img src="../../images/powerful@2x.png"/>
                                    <span class="tooltip">
                                        <span data-cvv-tooltip="unknown">
                                            3-digit security code usually found on the back of your card. American Express cards have a 4-digit code located on the front.
                                        </span>
                                        <span data-cvv-tooltip="amex" class="hidden">
                                            4-digit security code on the front of your card
                                        </span>
                                        <span data-cvv-tooltip="other" class="hidden">
                                            3-digit security code on the back of your card
                                        </span>
                                    </span>
                                </span>

                </div>
                <div class="col-lg-1">
                                <span id="credit_card_verification_value_tooltip" tabindex="0" class="field__icon icon icon--question has-tooltip" role="tooltip">
                                    <img src="../../images/accounting@2x.png"/>
                                    <span class="tooltip">
                                        <span data-cvv-tooltip="unknown">
                                            3-digit security code usually found on the back of your card. American Express cards have a 4-digit code located on the front.
                                        </span>
                                        <span data-cvv-tooltip="amex" class="hidden">
                                            4-digit security code on the front of your card
                                        </span>
                                        <span data-cvv-tooltip="other" class="hidden">
                                            3-digit security code on the back of your card
                                        </span>
                                    </span>
                                </span>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="row quoteColor table-align-verticle">
                <div class="col-lg-3">
                    <img src="../../images/aia-logo.png" width="100%"/>
                </div>
                <div class="col-lg-1">
                    Free
                </div>
                <div class="col-lg-1">
                    50%
                </div>
                <div class="col-lg-1">
                    Upto 100,000
                </div>
                <div class="col-lg-1">
                    Upto 3000
                </div>
                <div class="col-lg-1">
                    4 People 100,000
                </div>
                <div class="col-lg-2">
                    <a id="nextPage" class="nextPage" href="javascript:showVehicleDetail()">

                        <div class="Plan-cardRate-fixed">20,000</div>
                    </a>

                </div>
            </div>
            <div class="row quoteColor table-align-verticle selected has-tooltip">
                <div class="col-lg-3">
                    <img src="../../images/aia-logo.png" width="100%"/>
                </div>
                <div class="col-lg-1">
                    Free
                </div>
                <div class="col-lg-1">
                    80%
                </div>
                <div class="col-lg-1">
                    Upto 100,000
                </div>
                <div class="col-lg-1">
                    Upto 3000
                </div>
                <div class="col-lg-1">
                    4 People 100,000
                </div>
                <div class="col-lg-2">
                    <a id="nextPage" class="nextPage" href="javascript:showVehicleDetail()">

                        <div class="Plan-cardRate-fixed">25,000</div>
                    </a>

                </div>
                <span class="tooltip">
                                <span data-cvv-tooltip="unknown">
                                    Save Your Monkey Recommendation. Enjoy 15% OFF Vehicle Ins. & 10% OFF Life Ins.
                                </span>
                            </span>
            </div>
            <div class="row quoteColor table-align-verticle">
                <div class="col-lg-3">
                    <img src="../../images/aia-logo.png" width="100%"/>
                </div>
                <div class="col-lg-1">
                    Free
                </div>
                <div class="col-lg-1">
                    50%
                </div>
                <div class="col-lg-1">
                    Upto 100,000
                </div>
                <div class="col-lg-1">
                    Upto 3000
                </div>
                <div class="col-lg-1">
                    4 People 100,000
                </div>
                <div class="col-lg-2">
                    <a id="nextPage" class="nextPage" href="javascript:showVehicleDetail()">

                        <div class="Plan-cardRate-fixed">11,7000</div>
                    </a>

                </div>
            </div>
            <div class="row quoteColor table-align-verticle">
                <div class="col-lg-3">
                    <img src="../../images/aia-logo.png" width="100%"/>
                </div>
                <div class="col-lg-1">
                    Free
                </div>
                <div class="col-lg-1">
                    80%
                </div>
                <div class="col-lg-1">
                    Upto 100,000
                </div>
                <div class="col-lg-1">
                    Upto 3000
                </div>
                <div class="col-lg-1">
                    4 People 100,000
                </div>
                <div class="col-lg-2">
                    <a id="nextPage" class="nextPage" href="javascript:showVehicleDetail()">

                        <div class="Plan-cardRate-fixed">22,000</div>
                    </a>

                </div>
            </div>
            <div class="row quoteColor table-align-verticle">
                <div class="col-lg-3">
                    <img src="../../images/aia-logo.png" width="100%"/>
                </div>
                <div class="col-lg-1">
                    Free
                </div>
                <div class="col-lg-1">
                    50%
                </div>
                <div class="col-lg-1">
                    Upto 100,000
                </div>
                <div class="col-lg-1">
                    Upto 3000
                </div>
                <div class="col-lg-1">
                    4 People 100,000
                </div>
                <div class="col-lg-2">
                    <a id="nextPage" class="nextPage" href="javascript:showVehicleDetail()">

                        <div class="Plan-cardRate-fixed">14,000</div>
                    </a>

                </div>
            </div>
            <div class="row insuranceButtonMarginTop">
                <div style="float: left;width: 100%;" class="row step__footer">
                    <a class="step__footer__previous-link" href="insurance.html">
                        <svg viewBox="0 0 6.7 11.3" height="11.3" width="6.7" xmlns="http://www.w3.org/2000/svg" class="previous-link__icon icon--chevron icon">
                            <path d="M6.7 1.1l-1-1.1-4.6 4.6-1.1 1.1 1.1 1 4.6 4.6 1-1-4.6-4.6z"/>
                        </svg>
                        Return to Previous Page
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>